---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="1,000 Practices"
	
>

<style>
	img {
		padding:0.5rem;
		display:inline;
	}

	.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

</style>




<p>Over the years, we've been paying close attention to the practices that help Expressive Change take root and flourish in organizations. This page is dedicated to sharing them more broadly. Although it's unlikely we'll ever reach 1,000 in this on-line collection, the message that we're sending with the aspiration is that there are many practice doorways into Expressive Change. It is up to all of us to discover them by experimenting in our own organizational contexts. If you have a practice you'd like to submit to the collection, please drop us a line at tana@organizationunbound.org.</p>

<p>You can peruse the collection several ways: randomly, by organizational function, or alphabetically:</p>
<figure id="collection"><img src="https://organizationunbound.org/wp-content/uploads/2016/05/Slide07-300x225.png" alt="Slide 07"></figure>

<div class="grid-container">
   <p ><img src="/Slide09.png" alt="Slide 09" id="collection"></p>
  <a href="https://organizationunbound.org/inverting-your-practice/"><figure><img src="/Slide10.png" alt="Slide 10" id="collection"></figure></a>
   
    
    </div>