---
import Layout from '../layouts/BlogPost.astro';
import { Image } from 'astro:assets';
---


<Layout
	title="About"
>
<Image src="/banner_ferns-4.png" alt="ferns" width="605" height="166" />


<h2 >Organization Unbound is an attempt to re-imagine the way we think about and engage in social change</h2>


<h3>The current disconnect</h3>

</p>Many of us involved in social service and social change work have been frustrated by the incoherence that can exist between our organizations’ overarching visions and their internal cultures and practices.</p>

<p>How many community organizations have we encountered that don’t feel like communities? How many advocacy groups that forget to practice the things they themselves advocate?</p>



<h3>Expressive change</h3>

<p>Our experiences and research suggest that the distinction between serving the world and nurturing our organizations is a false one.</p>

<p>Some of the most vibrant and socially catalytic organizations we have seen are places where there is a promising confusion about who is serving whom- schools where teachers learn and grow, food banks where staff and volunteers are nourished, hospitals where doctors are healed, social justice groups where activists are surprised to find their vision of a better world taking root in their own offices.</p>

<p>These organizations are invoking the power of something we might call expressive change – a pattern of change rooted in who they are as much as in what they do. They ask themselves: “How can we become what we seek?”</p>



<h3>Exploring practices</h3>

<p>Organization Unbound is a global learning network of people and organizations who are exploring the practice of expressive change. How, for example, does a community organization become a vital, teeming, celebratory democracy, not just in governance structure, but in daily life? How does a school become a learning center for everyone it touches - teachers, staff, students, parents, and neighbors? What are the relationships, structures, and intentions that allow these kinds of transformations to take place and to be sustained over time?</p>

<p>Answers to these questions are emerging through conversations and action research with a variety of social purpose organizations.</p>



<h3>Sharing what we learn</h3>

<p>We are translating what we learn into hands-on materials that are freely available on our website. So far we've created <a href="https://organizationunbound.org/short-film/">this short film </a>that you can watch and discuss with your colleagues, as well as a series of <a href="/in-practice/">self-guided sessions</a> to help you apply the concept of expressive change to your own organization. They are both part of a larger collection of learning materials that we are developing over time.</p>

<p>We also connect organizations that want support experimenting with expressive change to facilitators in our global network.</p>

<p>If you would like to be part of this growing community of practice, please <a href="https://organizationunbound.org/get-in-touch-with-us/">get in touch</a>. We'd love to hear from you!</p>




<style>


	h3 {
		color: #008080;
		font-weight:400;
		font-style:italic;
	}

	.Georgia {
  	margin-left: -0.05em;
}
	
	h2 {
		font-size:26px;
		font-kerning:normal;
		font-style:italic;
		color:rgb(34, 34, 34);
		font-weight:700;
		margin-bottom:2rem;
	}

  article{
		width:70%;
		background-color: #ffffff;
		margin-left:10%;
		padding-left:2rem;
		background:#fff;
		height:100%;
	}

	.heroImage {
		margin-left:10%;
	}
  h1 {
    padding-left: 10%;
  }
</style>