---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Aerin Dunford"
    heroImage="/AugustoCuginotti.jpg"
	
>
<p><img src="/Aerin-Dunford.jpg" alt="Aerin Dunford">¡Hola! I'm an organizational nerd who loves to geek out thinking and dialoging with others about the way that we come together as individuals and organizations to innovate, co-create and do good work. I am also a writer, upcycling artist (I like to make stuff from trash), urban farmer and yoga instructor.</p>
<p>Since 2005 I have been involved with the work of <a href="http://www.berkana.org/">The Berkana Institute</a>. From 2006 to 2008 I was a co-steward of the Berkana Exchange. The Exchange was an experiment in weaving together a trans-local community of practice comprised of eleven diverse communities and organizations around the world all focused in their own way on creating health and resilience in their particular places. From 2010 to early 2012 I served as the Director of Sharing Our Learning at Berkana.</p>
<p>I have also had lots of fun stewarding communities of practice focused on feeding ourselves sustainably and upcycling over the past few years. I am particularly interested in continuing to explore how we can learn from nature and life systems about new ways of organizing as human beings. I have a master’s degree in Organizational Management with a focus on Leadership and Change from the <a href="http://www.sit.edu/graduate/">SIT Graduate Institute</a>.</p>
<p>Since moving to Oaxaca de Juarez, Mexico in 2009 I have been working with groups, networks and individuals to facilitate dialogue and create the conditions for authentic collaboration and participative leadership. Currently I am working in close partnership with the <a href="http://www.foodsovereigntytours.org/2011/10/in-oaxaca-food-sovereignty-starts-at-the-roots/">Hub Oaxaca, RASA (The Autonomous Network for Food Sovereignty)</a>, the international <a href="http://www.artofhosting.org/home/">Art of Hosting</a> community, and stewarding ideas presented in Deborah Frieze and Margaret Wheatley&#39;s latest book, <em><a href="http://www.walkoutwalkon.net/">Walk Out Walk On: A Learning Journey into Communities Daring to Live the Future Now</a>.</em> Alongside my partner in life and work, Sergio Beltrán, I am also kicking off a new project: the Upcycling Initiative Oaxaca. What an adventure is life!</p>
