---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Akaya Windwood"
    heroImage="/AkayaWindwood.jpg"
	>
<p><img src="/AkayaWindwood.jpg" alt="Akaya Windwood" title="Akaya Windwood"></a>As President of <a href="http://www.rockwoodleadership.org/">Rockwood Leadership Institute</a>, my work is to advance the effectiveness of leadership and collaboration in the nonprofit and social benefit sectors.</p>
<p>My vision for our global community includes infusing a sense of purpose, delight and wonder into everything we do.</p>
<p>I bring my skills as an organizational consultant and executive coach to my lifetime commitment to working for a fair and equitable society and to Rockwood’s network of 4,000 powerful, collaborative, and interconnected leaders.</p>
<p>You can reach me at replies(at)rockwoodleadership.org.</p>
<p>.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/intimacy/">Intimacy</a></strong></em></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/music-to-my-ears/">Music to my ears</a></strong></em></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/gross-organizational-happiness/">Gross national happiness</a></strong></em></p>
