---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Alessandra Pigni"
    heroImage="/Alessandra-Pigni.png"
	
>

<p><img src="/Alessandra-Pigni.png">I am a humanitarian psychologist with several years of experience in the Middle East. After serving with <a href="https://www.msf.org.za/">Médecins Sans Frontières/Doctors Without Borders</a> in Palestine and China, I decided to dedicate my work to understanding the connection between meaningful work and burnout. In 2014-15 I was an ELAC Visiting Research Fellow at the University of Oxford, which lead to the publication of my first book <em><a href="https://www.amazon.com/Idealists-Survival-Kit-Prevent-Burnout/dp/1941529348">The Idealist’s Survival Kit. 75 Simple Ways to Avoid Burnout</a></em>. I’ve come to realize that changing the world is a much sexier idea than changing ourselves and our organisations. And that while aid workers need to practice self-care, it is up to their organisations to foster a healthy work environment, which is the real key to burnout prevention.</p>
<p>My home and &quot;secure base&quot; is in Oxford, UK where I live in a typical English terraced home, full of art, photos and memories from my beloved Palestine.  My passions are photography and hiking, and I particularly love walking on old pilgrimage routes. This year, I hiked 650 km on the Camino de Santiago in Northern Spain, and one of my dreams is to walk from Rome to Jerusalem. I&#39;m not religious, but I find beauty and something sacred in walking, it&#39;s profoundly healing and it restores my faith in humanity. Chance encounters among &quot;ramblers&quot; often have a special quality.</p>
<p>Alessandra left this earth in December 2018.</p>
<p>You can read about her pioneering work <a href="http://www.mindfulnext.org/my-story/">here</a></p>
<p>.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/burnout-organizational-mindfulness/">Burnout &amp; organizational mindfulness</a></strong></em></p>
