---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Alex Megelas"
    heroImage="/Alex-Megelas.jpg"
	
>

<p><a href="http://aimeevandrimmelen.com/"><img src="/Alex-Megelas.jpg" alt="" title="Illustration by aimeevandrimmelen.com"></a>I am an organizational change consultant and personal and professional coach based in Montreal, Canada.</p>
<p>I am a guiding spirit behind Geek Montreal and <a href="http://www.facebook.com/group.php?gid=2460726942">Anarchist Soccer</a>, in addition to many other innovative community projects, and coordinate the <a href="http://www.mcgill.ca/conted/pace/">Personal and Cultural Enrichment program</a> (PACE) in the School of Continuing Studies at McGill University.</p>
<p>You can learn more about me at <a href="http://www.alexmegelas.com/">www.alexmegelas.com</a>.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/organizational-hacking/">Organizational hacking</a></strong></em></p>
<p><strong>≈ <a href="https://organizationunbound.org/expressive-change/anarchist-soccer/">Anarchist soccer</a></strong></p>
<p><strong>≈ <a href="https://organizationunbound.org/expressive-change/my-life-as-an-organization/">My life as an organization</a></strong></p>
