---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Allan Kaplan"
    heroImage="/Allan.jpg"
	
>

<p><img src="/Allan.jpg" alt="Allan" width="206" height="242" id="left">As co-founder of <a href="http://www.proteusinitiative.org/">The Proteus Initiative</a>, I strive to bring together a sensibility for, understanding of, and practice towards the relationship between ecological wholeness and social coherence and healing. Through a variety of mediums- writing, facilitation, consulting, teaching- I help people to stretch their processes of inner and outer development to greater edges and depths.</p>
<p>Prior to starting the Proteus Initiative, I founded and served as a former director of the <a href="http://www.cdra.org.za/">Community Development Resource Association</a> in Cape Town, South Africa.</p>
<p>I’ve authored, amongst other works, <a href="http://www.amazon.com/Development-Practitioners-Handbook-Allan-Kaplan/dp/0745310214">The Development Practitioner&#39;s Handbook</a> and <a href="http://www.amazon.com/Development-Practitioners-Social-Process-Invisible/dp/0745310184">Artists of the Invisible</a>.</p>
<p>.</p>
<p><em><strong>≈ <a href="/blog/the-presence-of-an-absence/">The presence of absence</a></strong></em></p>
<p><em><strong>≈ <a href="/blog/sneak-preview-of-a-delicate-activism/">Sneak preview of &#39;A Delicate Activism&#39;</a></strong></em></p>