---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Anthi Theiopoulou"
    heroImage=""
	
>
<p>Anthi is partner at Fractal Evolution Associates and the President of <a href="http://www.solgreece.org/?lang=en">SoL Greece</a>.</p>
<p><strong>Contributions:</strong> </p>
<p><em><strong>≈ <a href="https://organizationunbound.org/the-learning-stance-by-anthi-theiopoulou/">The</a><strong> <a href="https://organizationunbound.org/the-learning-stance-by-anthi-theiopoulou/">learning stance: A conversation with Anthi Theiopoulou</a></strong> </p>
<p><em><strong>≈ <a href="https://organizationunbound.org/wp-content/uploads/2011/12/AnthiLeadershipEQ.mp3">An audio excerpt (from the above conversation)</a></strong></p>
