---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Augusto Cuginotti"
    heroImage="/AugustoCuginotti.jpg"
	
>
<p><a href="/AugustoCuginotti.jpg"><img src="/AugustoCuginotti.jpg" alt=""></a>I am experimenting with ways to express elegant energy in this world. Personally that means being aligned with my body practices and present with my family. After being some years in Europe, I am back in Brazil where I can re-connect with community.</p>
<p>I have the privilege to work with others in a magical process: we first listen to what is becoming in the world, create spaces and opportunities and finally invite people in. If our collective ear is tuned, elegant energy flows. I call this being a learning host.</p>
<p>In my exploration on how people learn together, I engaged with organizational spaces but also community schools. I guess, watching children and adults in all sorts of learning spaces, that learning is a byproduct of people becoming themselves in relationship.</p>
<p>You can read what I write at <a href="http://hostinglearning.com">Hosting Learning</a> and reach me at augusto.cuginotti (at)hostinglearning.com</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈</strong></em> <strong><a href="https://organization-unbound.org/manifesting-a-second-order-revolution-in-brazil-by-augusto-cuginotti">Manifesting a second order revolution in Brazil</a></strong></p>
