---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Baijayanta Mukhopadhyay"
    heroImage="/profile1.jpg"
	
>

<p><img src="/profile1.jpg" alt="Baijayanta Mukhopadhyay">I am a doctor working in northern Canada, interested in how people&#39;s social conditions shape their experience of health.</p>
<p>I am currently an organiser with the <a href="http://www.phmovement.org/en/about">People&#39;s Health Movement Canada</a>.  I have worked in community organisations and social movements dealing with migrant rights, HIV/AIDS and poverty both in Canada and abroad. I also write, run, bike and swing dance.</p>
<p>I can be reached at  b.mukhopadhyay(at)gmail.com</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/how-to-occupy-democracy/">How to occupy democracy</a></strong></em></p>
