---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Biren Shah"
    heroImage=""
	
>
<p><img src="" alt="Biren Shah"></p>
<p>I have almost always floundered helplessly when someone asks me about myself or what I do. I am simply unable to articulate &#39;who I am&#39; in a way that authentically conveys the idea that is &#39;me&#39;. And that, I think, has largely to do with the extra-ordinary life path I’ve found myself traveling on in recent years.</p>
<p>At the age of 28, feeling disillusioned by my experience working in corporate sales and marketing as an electrical engineer, I decided to join my family’s business in advertising design. A few years into running the business, my life started to systematically break down and crumble, to the point where everything I knew as &#39;normal life&#39; was taken away from me, including my sanity- I had a nervous breakdown. It was almost as if life wiped out all that sat inside me as a conditioning. But, without that conditioning, I was utterly lost. I had no sense of who I was or what life or living meant. I could name everything and yet feel nothing. When I saw my wife, the label &#39;wife&#39; popped up, but nothing else - no sense of what &#39;wife&#39; FEELS like. Two years of such disorienting experiences left me feeling crushed into an amorphous state.</p>
<p>This was followed by a dramatic shift – another two years filled with experiences that many would define as &#39;magical&#39;. It was as if, with my conditioning being wiped out, I was able to experience life in its pristine form. And then suddenly, as if overnight, the magic disappeared, and my conditioning reappeared. It took me another two years to realize what life was telling me: <em>&quot;You have seen Life with and without conditioning. Now, I give you back YOUR life. You decide what you want to do with it.&quot;</em></p>
<p>Since then, I constantly find myself struggling, wanting to join the normal world and be &#39;normal&#39;. But those four years of intense and contrasting close encounters with Life seem to have changed something deep within me. It feels impossible for me to go back fully into my old, conditioned way of living. I strive everyday to &#39;be&#39; someone, but my life experiences shatter every attempt I make to find safety in some identity. It has been a very harrowing experience for me.</p>
<p>But there is an upside. This constant conflict has defined how I live everyday, and informed everything that I study, explore and experiment with, a few of which are <a href="http://www.solonline.org/">systems thinking and emergence</a>, nature and natural systems, <a href="http://sahtouris.com">evolutionary consciousness</a>, and <a href="http://sociocracyconsulting.com/">Sociocracy</a>.</p>
<p>I can be reached at biren.biroo(at)gmail.com</p>
<p>.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="blog/a-conversation-mashup-with-biren-shah/">A conversation mashup with Biren Shah</a></strong></em></p>
