---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Cameron Stiff"
    heroImage="/cameronthumb.jpg"
	
>
<p><img src="/cameronthumb.jpg" alt="" title="Cameron Stiff">I am a freelance organizer with an interest in systems-based approaches to sustainability – integrating economic, social, and environmental issues to devise holistic solutions.</p>
<p>I've helped get a number of initiatives off the ground, including the <a href="http://energyactioncoalition.org/">Energy Action Coalition</a>, <a href="http://challengeyourworld.com/">Challenge Your World</a>, <a href="http://www.maisondelamitie.ca/english/greening.html">Greening Duluth</a> (which is still very ground level) and various urban agriculture and food systems projects at Concordia University. I&#39;m currently working on <a href="http://dialogueonduluth.org/">Dialogue Duluth</a>- a program that supports the development of dialogue skills amongst young changemakers in Montreal.<a href="http://www.syc-cjs.org/"></a></p>
<p>I can be reached at cameron.stiff(at)gmail.com.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/why-what-follows-why-organizational-archeology/">Why &#39;what&#39; follows &#39;why&#39;: Organizational archeology</a></strong></em></p>
