---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Caroline Howe"
    heroImage="/CarolineHoweheadshot.jpg"
	>

    <p><img src="/CarolineHoweheadshot.jpg" alt="" title="CarolineHowe">I explore how to get more people excited about sustainability, through education, new technology, financial tools, and community engagement. I&#39;m particularly passionate about engaging young people in developing community-based solutions to environmental challenges. This has taken me to five continents, working with my start-up, <a href="http://sites.google.com/site/loopsolutionsindia/">Loop Solutions</a>, as well as with NGOs, youth groups, companies, UN agencies, and a ton of fantastic youth leaders.</p>
<p>You can reach me at carolinelhowe(at)gmail.com.</p>
<p><strong>Contributions:</strong></p>