---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Cristina Temmink"
    heroImage="CristinaTemmink3.png"
	
>
<p><img src="/CristinaTemmink3.png" alt="">For over 15 years, I worked in the field of international development, facilitating learning to improve the practices of NGOs and social movements worldwide. In 2013, I took a year to reflect on my experiences, and I realised that to engender real transformation we need to approach social change work in a much more holistic and integrative way. This was the start of an exciting journey through which I came into contact with many inspiring people and initiatives. Organization Unbound was one of them.</p>
<p>Today I am committed to transformative learning, an approach to learning that connects our experiences at the individual, collective, and systemic levels. I have guided processes on a variety of topics including leadership for systemic change, the food system, feminist activism, inclusion, and new ways of organising. I am also a facilitator of the <a href="http://www.barefootguide.org/">Barefoot Guide Connection</a>, a global community that brings together social change actors to share their experiences of transformative social change practice. One of the experiments I’m most excited about is <a href="https://www.facebook.com/Lekkernassuh/">Local Food The Hague</a>, a ‘city lab’ in The Netherlands, where we are prototyping an inclusive, creative and caring community that sustains local food systems (to learn more about this prototyping, click <a href="http://transgressivelearning.org/2017/04/19/sustainable-food-systems-sharing-based-economies/">here</a>).</p>
<p>On a more personal note, my most ‘transformational’ life experience was being adopted as a 5-year-old from the rural Andes region in Colombia by a Dutch family. I’ve spent my adult life living between the Netherlands and Colombia with my now teenaged kids. I love adventurous hikes, protest songs, contemporary U.S. literature, and unexpected encounters.</p>
<p>I can be reached at cristina(at)organizationunbond.org</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/liberating-structures-2/">Liberating Structures</a></strong></em></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/listening-to-the-head-heart-feet/">Listening to the head, heart &amp; feet</a></strong></em></p>
