---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Curtis Ogden"
    heroImage="CurtisOgden.jpg"
	
>

<p><img src="/CurtisOgden.jpg" alt="Curtis Ogden" width="219" height="219" id="left">I work at the <a href="http://interactioninstitute.org/">Interaction Institute for Social Change</a> (IISC), a consulting practice that builds the capacity of organisations, communities and networks to engage in more effective, equitable and inclusive social change. I provide collaborative network building support to initiatives focused on racial/socio-economic equity and sustainability in education, public health and food systems around New England and the United States.</p>
<p>I am also a board member of the <a href="http://grassrootsfund.org/">New England Grassroots Environment Fund</a>.  Prior to joining IISC, I managed the <a href="http://buildingexcellentschools.org/start-a-school/">Building Excellent Schools Fellowship</a> for aspiring urban charter school founders interested in addressing educational equity.</p>
<p>I grew up in Flint, a small town in Michigan, USA. As the son of two teachers, I had the benefit of living overseas at an early age, including Libreville, Gabon. After finishing university I returned to Africa to do community and youth development work in Zimbabwe through <a href="http://www.jesuitszimbabwe.co.zw/index.php/what-we-do/silveira-house">Silveira House</a>, where I was introduced to and deeply influenced by participatory action research and Training for Transformation methods.</p>
<p>I currently reside, garden, and play in western Massachusetts with my wife and three daughters.</p>
<p>I can be reached at <a href="mailto:cogden@interactioninstitute.org">cogden@interactioninstitute.org</a> and found on Twitter at @curtisogden.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/networks-a-love-story/">Networks: a love story</a></strong></em></p>
