---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Dancing the space open, by Sarah Whiteley"
    heroImage="1-Paneljpg"
	
>

    <p><em>Reprinted from the <a href="http://www.walkoutwalkon.net/2011/06/dancing-the-space-open/">Walk Out Walk On</a> blog, June 2011</em></p>
    <p>This evening I am back at <a href="http://axladitsa.org/">Axladitsa</a> – having left Athens at 5.30am this morning with Maria to travel 5.5 hours back to Pelion for an important appointment.  Maria is now back to Athens to journey to Brussels tomorrow for work.  A busy day – hence the delayed account from last night’s events in Syntagma Square.</p>
    <p>We were scheduled to host a <a href="http://www.theworldcafe.com/method.html">World Café</a> last night at 11pm.  We had sensed right timing the day before – both by members of the assembly core team in Syntagma and by ourselves – Maria, Anthi, Odysseas (not present to host this night – as he is hosting 250 children at summer camp for 6 weeks) and myself.  We were scheduled to follow a series of speeches, starting at 7.30pm, by a Panel consisting of well-respected Greek professionals offering different perspectives to a seated crowd – assembled in rows in the centre of Syntagma Square.</p>
    <p>In addition to the 3000+ assembly this night, thousands of others encircled the space – including those gathered in front of the parliament building, waving flags, beating drums and singing – continuing the enigmatic presence of the masses gathered two days earlier, 15th June; plus those others simply hanging out, being in <em>parea</em> (good company), being part of the scene, ongoing for 25 days now.</p>
    <p>~~~~~</p>
    <p>Earlier in the day, Anthi had met with one or two people from the core assembly team – as well as the artists group, who would be helping to harvest the World Café.  Collectively, the preparations were made.  In the meantime, Maria and I drove from Axladitsa – having just returned the night before – not knowing if we had been given the ‘green light’ to hold and host the space for conversations inviting and amplifying the intelligence of the collective.  The ‘yes’ had emerged – and so we were on the road again – informing various networks that the conversations in Syntagma were perhaps about to go to another level.</p>
    <p>Before travelling to central Athens, I sent out a call for those around the world to participate – and join us in conversation around real / direct democracy.  This was our focus and this was our question: <em>What is the Real Democracy we are dreaming of, what does it look like and what are the key~questions that we need to ask in order to move forward…</em></p>
    <p>The network was activated.  Wishes of hope, love, holding, protection – <em>the time is now</em> – <em>we are holding you all</em> came flooding in through email, text, posts on nings and list-serves.  It was incredible.</p>
    <p>So – at 8.30pm – Maria, Anthi and I finally meet in Syntagma – and speak to one of the artists.  Vasilis is excited about our work – and the artists group are also ready to be of service this night.  With logistics in place, we name our time to reconnect, 30 minutes before the conversations commence.</p>
    <p>Meanwhile, the Panel presentations are in full flow – with microphoned voices booming and applause of the gathered crowd resonating throughout the space.</p>
    <p>We speak together – the three of us – about how we will host and hold the space; how to language the process that is new and fundamentally different in resonance.  How to speak as Citizens, Greeks, people who care.</p>
    <p>Connected, we go in search of food and water – and then return to join the seated crowd, to hear the presentations – and sense the field from within the field.</p>
    <p>Disturbance &amp; Questions come…</p>
    <p><em>Is it really right timing?  Can we bridge the presentation process with ours, so that the people remain engaged?</em> <em>What language, tone, detail and presence is needed to call those present to offer what they know?  Have the people been listening too long – and is the process/paradigm transition too big?</em></p>
    <p>At 10.20pm, we go in search of Georgios, the core team member who is our contact. Spiros, another core member invites us to gather just behind the speakers’ Panel – where Georgios is seated – to sense the <em>field</em> energy and clarify our steps <em>and</em> to ask the question again: <em>is it right timing?</em></p>
    <p>It seems that the core members are not feeling confident that it is right timing to go ahead.  We sense this together and agree.  They feel that people are tired and low in energy and so might create more disruption to change the form to something people do not recognise.  They also inform us that they want to bring another process of questions to the panellists and opinions from the ‘floor’ to go ahead instead. <em>Is this final intent not what we need to be hosting…whilst also weaving these perspectives into newness together?</em></p>
    <p><em>I ask why are they now doubting us stepping forward this night – and also pose the possibility that perhaps people were tired – of listening.  Other questions reverberate between us.  We also sense our own timing as hosts, as practitioners.  What is really of service here?</em></p>
    <p>We dance back and forth.</p>
    <p>Anther suggestion is to advertise the conversation tonight and host it before the Panel tomorrow.  <em>We cannot.</em></p>
    <p>The clarity emerges that the timing is simply not right – the conditions are not in place – and that the process shift is too great at this stage in the evening.</p>
    <p>We say goodnight – with the possibility that it can happen another time.</p>
    <p>The three of us step away – and find a place on the pavement behind the speakers’ Panel, that continues for another 45 minutes or so.  We circle up to reflect on what might be at play here<em>.</em></p>
    <p>We sense into the possibility that the operating system of the movement here in Syntagma is becoming <em>established – formed</em> – <em>finding its groove</em> – <em>confident</em> and wonder if the existing hosting system is simply not ready to host the next level of newness / fresh perspectives – growth – with processes different, and perhaps unknown, to their own.</p>
    <p>We also wonder if the process form contains a stronger ‘patriarchic’ presence at this time in its evolution.  Certainly the groundwork to call in and then practice daily an overall self-organising pattern is deeply at work here – and an incredible act of leadership and self-responsibility.  Yet there is a danger that the process may limit what emerges.  We muse as to whether the assembly actually holds the known process form and <em>quality</em> held within the current political arena, albeit fundamentally different with it being hosted in this place, in this way, by these people – and engaging so many others.  A potential danger could be to stay with a more mono-logic process and limit direct dialogic democratic inspiration to emerge, the primary intent to the overall process unfolding in Syntagma.</p>
    <p><em>So, we finally ask ourselves…where is the crack – and how can we open it more – to serve the conversation space – and invite people to participate at another level?</em></p>
    <p>Is it in the assembly team?  Do we need to spend more time with them – and even host a process for them to experience directly?</p>
    <p>Is it in the people assembled and their readiness to engage in another level of conversation – new in form – yet serving the emergence of collective intelligence?</p>
    <p>Is it with the artists?  Do we host a conversation with them for those people who are ready to gather?</p>
    <p><em>When do we start?</em></p>
    <p>Tomorrow?  <em>Not possible – Maria and I are not in Athens</em></p>
    <p>Next week?  <em>Same issue</em></p>
    <p>Beginning of July?  <em>Possible – needs planning</em></p>
    <p>Now?  <em>Why not!!</em></p>
    <p><em>The conversation is happening on the online space.  Maybe we need to offer this back into Syntagma – to show that others are interested in this dialogue, that new patterns of organising and being together are already in motion.</em></p>
    <p>So – up we get.  The seated crowds has now disbanded since an ambulance had to drive in to assist someone – and it was clearly simply time to move!</p>
    <p>We go to check in with those in the Artists area to thank them.  They are busy with other things.  So we pick up the small sign that had advertised the World Café – <em>To Café Tou Kosmos</em> and find ourselves a place to sit in the centre of the square.  _Why not answer the question we were calling others to answer ourselves??  Ma_y<em>be others might join us.</em></p>
    <p>Our friend Vasilis the artist comes over!  He is inspired and ready to work with us and to look at the beginning of July…to call a conversation, to see who wants to show up, to harvest what we see together – and perhaps to continue hosting others in the future.  We exchange phone numbers and email addresses.</p>
    <p>The space is open…in a different way than expected or envisioned, but it is open all the same.  We can feel it!!</p>
    <p>And finally, the music team DJ belts out songs from around the world – and about 250 of us dance in the Platia – where the 1000’s were seated earlier – sending the energy out into the city and beyond – with 1000′s of others enjoying the parea. That is the magic of this culture.</p>
    <p>There is beauty in the air and people are still dancing when we leave at 2am…and get a taxi home.</p>
    <p>Return to <a href="https://organizationunbound.org/dialogues/taking-the-r-forward/">Taking the Revolution Forward</a></p>
    

