---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Dialogues"
	
>

<p>Click on the graphic below to visit our Taking the Revolution Forward dialogue:</p>
<p><a href="https://organizationunbound.org/dialogues/taking-the-r-forward/" title="Revolution"><img src="https://organizationunbound.org/wp-content/uploads/2011/12/TRFSandGrey.jpg" alt=""></a></p>
