---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Fahri Karakas"
    heroImage="/Fahrithumb.jpg"
	
>

<p><img src="/Fahrithumb.jpg" alt="Fahri Karakas" width="216"height="177" id="left">I am a Lecturer in Business and Leadership at Norwich Business School at the University of East Anglia (UEA) in London. Prior to that, I worked at Open University Business School as a Research Fellow in International Management Practice, Education, and Learning. I have a PhD from McGill University, Canada, where I wrote a doctoral thesis on benevolent leadership.</p>
<p>My research aims to build new ways of understanding how we can nurture the human spirit and build a collective sense of creativity and vitality in organizations. My research interests include spirituality at work, benevolent leadership, positive management education, creativity, design thinking, and social innovation. I am a member of the positive organizational scholarship (POS) network based at the University of Michigan, where we aim to understand, explain, and create the best of the human condition in organizations.</p>
<p>I am originally from Turkey, where I completed my undergraduate (Koc) and MBA (Bogazici) studies.</p>
<p>You can find me on Twitter @fahrikarakas.or you can contact me using <a href="mailto:fahrikarakas@gmail.com">fahrikarakas(at)gmail.com</a>.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="/blog/in-praise-of-dreams-and-magic/">In Praise of dreams and magic</a></strong></em></p>