---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Follow Us"
	
>
<p>On the side bar of any page of our website, you'll see four ways that you can follow our activities:</p>
<p>- Receive blog posts via email/rss feed (1-3 a month)</p>
<p>- Sign-up for our newsletter (sent out 1-3 times a year)</p>
<p>- Like us on facebook</p>
<p>- Follow us on Twitter</p>