---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Gioel Gioacchino"
    heroImage="/gioel-photo-cut.jpg"
	>

    <p><img src="/gioel-photo-cut.jpg" alt="gioel-photo" width="246" height="252" id="left">I am an intercultural explorer.</p>
<p>I work to make youth's experience and voice part of international development logics. I am passionate about exploring innovative ways to improve cross-cultural and cross-sector collaboration.</p>
<p>As the director of research at <a href="http://recrearinternational.org/">Recrear</a>, I prioritize action research projects in the belief that research should be fun, engaging, and transformative.</p>
<p>I am currently carrying out field work in Medellin, Colombia, as part of my PhD program at the <a href="http://www.ids.ac.uk/">Institute of Development Studies</a> at the University of Sussex, UK. Through a case study of Colombian youth organizations, my research project explores how different funding models affect organizational culture as well as the quality of social organizations’ internal and external relationships.</p>
<p>I can be reached at gioel(at)recrear.info and on Twitter at @gioelgio.</p>
<p>.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="/blog/resisting-in-our-free-time-the-state-of-civil-society-today/">Resisting in our free time: The state of civil society today</a></strong></em></p>