---
import Layout from '../layouts/BlogPost.astro';
---


<Layout
	title="Readings"
	
>
<a href="https://drive.google.com/file/d/1gxgqy9t4mUxwqPEhr7Kmv3ddsogT2fjH/view?usp=sharing"><img src="/Screen-Shot-2019-10-02-at-5.51.24-AM.jpg"  width={332} height={469} alt="" ></a>

<p id="description">Key insights from a 3-day gathering that explored how to spread the practice of Expressive Change across Canada.</p>
<a href="https://ssir.org/articles/entry/social_innovation_from_the_inside_out"><img src="/SSIR-2.png"  width={332} height={382} alt="" ></a>


<p id="description">An article in the Stanford Social Innovation Review (SSIR) introducing the concept and practice of ‘inscaping’.</p>
<a href="https://santropolroulant.org/wp-content/uploads/2015/04/southernwallenglish.pdf"><img src="/Screen-Shot-2019-10-02-at-6.51.25-AM.jpg"  width={332} height={256} alt="" ></a>

<p id="description">An extended meditation on Santropol Roulant, a community organization in Montreal that has taught us so much about what brings organizations to life. Click <a href="https://organizationunbound.org/wp-content/uploads/2010/02/southernwallfrenc2.pdf">here</a> to read in French.</p>
<a href="https://www.scribd.com/document/192022484/Inscaping-Exploring-the-Connection-Between-Experiential-Surfacing-and-Social-Innovation"><img src="/NESTA-2.png"  width={332} height={424} alt="" ></a>


<p id="description">An article published by NESTA that explores the enabling role that 'inscaping' plays in helping to foster an organizational capacity for social innovation. With examples from a meals-on-wheels service, a cleaning company, an eco-learning village, a campus sustainability fund, and an urban public school.</p>
<a href="https://ascentmagazine.com/articles.aspx%3FarticleID=302&page=read&subpage=past&issueID=39.html"><img src="/The-giving-field.png"  width={332} height={489} alt="" ></a>

<p id="description">A short thought piece in Ascent Magazine on the power of 'the giving field' in social purpose work.</p>
<a href=""><img src="/RenTheoryPaper.png"  width={332} height={428} alt=""></a>
<p id="description">A theoretical paper that explores the following questions: What can we say about the fundamental dynamics of human engagement? What are the conditions that allow such engagement to flourish in organizational settings? What is the relationship between organizational engagement and broader patterns of social purpose or meaning?</p>

<a href="https://www.semanticscholar.org/paper/Sustaining-Engagement-in-Social-Purpose-An-on-Nilsson/849761db6064de1ffcc01609269606bc054dc0f4?p2df"><img src="/RenThesis.png"  width={332} height={428} alt=""></a>

<p id="description">An exploratory study into the practices that constitute and sustain organizational  
engagement in social purpose organizations.</p>

<style>
    p#description{
        width:50%;
    }
</style>