---
import Layout from '../layouts/BlogPost.astro';

---

<style>
	img {
		padding:0.5rem;
		display:inline;
	}

	.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

</style>

<Layout
	title="Self-guided workshops"
	
>

<p>The following self-guided workshops will deepen your understanding of Expressive Change and help you begin to put it into practice in your own organization. Each session is designed for a small group of people within the same organization to do together. You can do them in the order presented or follow your interest and start anywhere.</p>

<p>Click on the images below to access each workshop (also available in <a href="/francais">Français</a>. Or <a href="/abridged-versions">click here</a> if you prefer stripped-down versions (content only, without the interactive workshop elements). All materials are free to share and adapt. For editable versions or if you have trouble downloading the file, contact tana@organizationunbound.org.</p>

<p>Session 1 - An introduction to Expressive Change</p>
<p>Session 2 - Inscaping: a core practice that can help an organization become more expressive</p>
<p>Session 3 - How Inscaping can be applied to different aspects of organizational life</p>
<p>Session 4 - The Giving Field: how to further deepen the practice of expressive change</p>

<div class="grid-container">
<p id="session"><a href="https://drive.google.com/file/d/0B9n6TOVC3gefX1Y3NjAyMHU3OGM/view?usp=sharing"><img src="https://organizationunbound.org/wp-content/uploads/2015/07/1-An-introduction1-300x225.jpg" alt="1-An introduction"></a></p><p id="session"><a href="https://drive.google.com/file/d/0B9n6TOVC3gefdDdSNS0xd3BEYjA/view?usp=sharing"><img src="https://organizationunbound.org/wp-content/uploads/2015/07/2-Inscaping1-300x225.jpg" alt="2-Inscaping"></a></p>
<p id="session"><a href="https://drive.google.com/file/d/0B9n6TOVC3gefMXFBSUFZMUstM0E/view?usp=sharing"><img src="https://organizationunbound.org/wp-content/uploads/2015/07/3-Inscaping-in-practice1-300x224.jpg" alt="3-Inscaping in practice"></a></p><p id="session"><a href="https://drive.google.com/file/d/0B9n6TOVC3gefcmtNMExodzUzVkU/view?usp=sharing"><img src="https://organizationunbound.org/wp-content/uploads/2015/07/4-The-Giving-Field1-300x225.jpg" alt="4-The Giving Field"></a></p>

</div>
