---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Jess Marais"
    heroImage="/IMG_5139.jpg"
	
>
<p><img src="/IMG_5139.jpg" alt="Jess Marais" width="300" height="225" id="left"></p>
<p>My name is Jess Marais. I'm an ethnobotanist and second generation herbalist who's spent the last ten years studying and learning from the medicinal plants of the Pacific Northwest as an academic, a wild-harvester, a gardener, and a writer. I&#39;ve been continually humbled and inspired by the healers and activists I've met along the way, perhaps most deeply by the small but tightly woven communities defending their traditional territories from industrial development in the coastal region of British Columbia, my home for the past thirteen years.</p>
<p>Working at McGill University in Montreal was a chance to bring what I've learned about change-making from rural communities into a markedly different world, and yet I found myself taking part in the same processes of deep listening, engaged dialogue, and creative play that I had in tiny island villages. What a fascinating exercise!</p>
<p>I currently live in the Eastern Townships of Québec but continue to facilitate within the Masters of Holistic Science program at Schumacher College in Devon, England and teach within the Phytotherapy program at Pacific Rim College in Victoria, BC. As always, my greatest delight is exploring the elegant and complex interconnections of living systems with others.</p>
<p>You can reach me at jessica.frances.marais(at)gmail.com</p>
<p>.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="/blog/a-six-month-dive/">A six month dive into expressive change</a></strong></em></p>
