---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Join the Conversation"
	
>
<p><a href="https://organizationunbound.org/dialogues/taking-the-r-forward/">Taking the Revolution Forward</a> is an open-ended project. We look forward to adding more voices and revolutionary experiences from around the globe.</p>
<p>We are also keen on incorporating different forms of reflection such as video interviews, drawing, audio clips, cartooning, etc.</p>
<p>If you&#39;re interested in contributing, drop me a line at tana@organizationunbound.org.</p>
<p>Cheers!</p>
<p>Tana</p>

