---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Josee Methot"
    heroImage="/Josee_hornby.jpg"
	
>

<p><img src="/Josee_hornby.jpg" alt="Josee Methot" width="300" height="199" id="left"></a>I am an environmental scientist and process designer with a Master’s degree in Natural Resource Sciences from McGill University. I like to work on issues relating to food, water, ecosystem services, and ecological economics.</p>
<p>I am deeply curious about how people can work together to improve this big old world of ours. I believe that positive social and ecological change hinges on our ability to find better ways of working and living together. For this reason, I tend to geek out on questions of social process – i.e., not just <em>what</em> is done, but <em>how</em>. Over the last two years, I coordinated a sustainability initiative at McGill University called <a href="http://www.mcgill.ca/sustainability/about/vision-2020">Vision 2020</a>, and immersed myself in the world of process design, strategy, and facilitation. McGill now has its first Sustainability Strategy, and I have an appetite to tinker with more systems.</p>
<p>After four years in Montreal, I’m now in the process of moving back to Western Canada. Mountains here I come!</p>
<p>I tweet @Josee_Methot.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="/blog/a-six-month-dive/">A six month dive into expressive change</a></strong></em></p>
