---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Katherine THerese Whaling"
    heroImage="/KatherineWhaling.jpg"
	>


    <p><img src="/KatherineWhaling.jpg" alt="KatherineWhaling"></p>
    <p>I am part poet, Waldorf kindergarten teacher, community initiator and full time vision carrier. I like to express myself through all creative forms- art, music, writing, surfing, conversation- and plenty of laughter. As the youngest of 8 siblings, I always say I was born into a community and I seem to have placed myself in the midst of people ever since.</p>
    <p>I have been involved with citizen driven activations and street festivals in my beloved seaside neighborhood, Muizenberg, in Cape Town, for the last six years. What I love and what really inspires me is just to see people actively engaging in, celebrating and transforming the streets they live in. Experiencing each other&#39;s diversity and having meaningful interactions as together we take initiative and begin to create our neighborhoods and our lives how we dream them to be.</p>
    <p>I am also very passionate about the transformation of the education system. Locally a group of us have been brewing this idea for years of creating a small local village &#39;school&#39;, that utilizes and is integrated with its environment, nature, culture and community. Where guided learning can happen everywhere with and by passionate local people and artisans who want to share their skills and or knowledge- the baker, the jeweler, the carpenter, the musician, ect. Thanks to a group of visionary parents and excited children, the first class 1 has just begun!</p>
    <p>There are no boundaries but the ones we believe in. Imagine a world where.....</p>
    <p>I can be reached at <a href="mailto:katwhaling@gmail.com">katwhaling(at)gmail.com</a></p>
    <p>.</p>
    <p><strong>Contributions:</strong></p>
    <p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/becoming-a-festival/">Becoming a festival</a></strong></em></p>
    
