---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Kiran Gulrajani"
    heroImage="/KiranGulrajani.jpg"
	>
<p><img src="/KiranGulrajani.jpg" alt="">As the founder of <a href="http://www.coevolve.in/Home.html">CoEvolve</a>, I enable facilitators and coach business leaders across a wide range of industries in India and some abroad. The heart is evoked and the spirit and creativity in people and organizations awakened through our signature programs- Tao of Facilitation (for the general public), Co-creative Leadership (for businesses) plus Co-evolutionary Coaching.</p>
<p>An ecology of approximately 100 facilitators has organically developed and, in turn, shaped me. The essence of co-evolution is to see how giving is receiving, teaching is learning and leading is following. Learning to look at life inside-out, upside-down and backside-front to contact truth and love.</p>
<p>I am deeply inspired by Lao Tsu, Ramana Maharshi, J. Krishnamurti, Byron Katie and many others as I seek to integrate the best of eastern and western wisdom into my work.</p>
<p>I enjoy connecting, enabling and co-creating with emerging communities like <a href="http://www.swaraj.org/shikshantar/ls_discussion.html">Learning Societies</a>, <a href="http://www.swaraj.org/shikshantar/">Shikshantar</a>, <a href="http://www.walkoutwalkon.net/">Walk Out Walk On</a>, and <a href="www.ChittaSangha.org">ChittaSangha- The Consciousness Collaborative</a>.</p>
<p>I enjoy sharing and discovering the subtle textures of reality through my <a href="http://coevolvewithkiran.wordpress.com/">writing</a>.</p>
<p>You can reach me at kiran.gulrajani(at)CoEvolve.in</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/podcast-dancing-the-talk/">Dancing the talk (Podcast)</a></strong></em></p>
