---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Kit Evans"
    heroImage="/KitEvans.jpg"
	>

<p><img src="/KitEvans.jpg" alt="Kit Evans" title="Kit Evans" id="left">I am a third year Master of Divinity candidate at the <a href="http://www.psr.edu/">Pacific School of Religion</a> in Berkeley, California. My concentration is Women&#39;s Studies in Religion and Peace and Conflict Studies. Over the last 14 years I have used my education, teachings on nonviolence, travels, personal experiences, and relationship with God as a teacher and motivational speaker.  I hope to continue to assist women and young people working to heal from violence, abuse, and self esteem issues.</p>
<p>You can read more about my experience on my <a href="http://kitevans.blogspot.com/">blog</a>. And I can be reached at evans.kit(at)gmail.com.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="/blog/occupy-oakland-strike-change-and-the-power-of-nonviolence/">The Occupy Oakland strike: Change and the power of nonviolence</a></strong></em></p>
