---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Liam Barrington Bush"
    heroImage="/liam.jpg"
	
>

<p><a href="https://organizationunbound.org/wp-content/uploads/2013/09/Liam.jpg"><img src="https://organizationunbound.org/wp-content/uploads/2013/09/Liam-249x300.jpg" alt=""></a>I help organisations to be more like people- to work together as we do when we don&#39;t have job titles, business plans and strategy documents telling us how to engage with one another around meaningful causes.</p>
<p>I have a background in social media, campaigning and organisational change, and have recently crowd-funded and self-published <a href="http://www.morelikepeople.org/the-book/">Anarchists in the Boardroom: How social media and social movements can help your organisation to be more like people</a>.</p>
<p>I like punk rock, hip-hop and tattoos, and am more approachable than my facial hair suggests.</p>
<p>I Tweet as <a href="https://twitter.com/hackofalltrades">@hackofalltrades</a>, blog at <a href="http://www.morelikepeople.org/">morelikepeople.org</a>, and curate the &#39;<a href="https://www.facebook.com/MoreLikePeople">more like people</a>&#39; Facebook page. I can be reached directly at liam(at)morelikepeople.org</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/beloved-communities-2/">Structuring our Beloved Communities</a></strong></em></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/missing-the-forest-for-the-trees/">Missing the forest for the trees</a></strong></em></p>
