---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Linda Sarvi"
    heroImage="/Linda-Sarvi.jpg"
	
>

<p><img src="/Linda-Sarvi.jpg" alt="Linda Sarvi" width="300" height="301" id="left">I grew up always highly fascinated by the world around me. I have spent my entire life moving around the world from Zambia to Namibia, Finland, England, the Philippines and Canada. Having constantly danced in between different worlds, I fell in love with the complexity and beauty of human interaction and cultural nuances from a young age. I am half-Finnish, half-Malawian but I mostly grew up in the Philippines so I feel fortunate to see life through different lenses and I am always excited to explore new experiences, ideas and people.</p>
<p>I am most passionate about using storytelling as way to bridge people together and to allow people to step into other people&#39;s shoes. That is why I currently work at Zenith Cleaning, an organization that seeks to connect people and promote self-awareness through thought-provoking cleaning activities. I hope to one day use my love for storytelling and interacting with people to create new narratives about how we can evolve and flourish as a species during this exciting time in human history.</p>
<p>I can be reached at <a href="mailto:lindasarvi@gmail.com">lindasarvi(at)gmail.com</a></p>
<p>.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="/blog/cleaning-myself-cleaning-the-world/">Cleaning myself, cleaning the world</a></strong></em></p>
