---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Mark Engler"
    heroImage="/MarkEngler-HiRes.jpg"
	>
    
<p><img src="/MarkEngler-HiRes.jpg" alt="MarkEngler-HiRes"></p>
<p>I am an author and journalist based in Philadelphia, writing about the global economy, social movements, Latin American affairs, militarism, domestic politics, and the environment.</p>
<p>I am an editorial board member at <a href="http://dissentmagazine.org/"><em>Dissent</em></a>, a contributing editor at <a href="http://www.yesmagazine.org/"><em>Yes! Magazine</em></a>, and a senior analyst with <a href="http://www.fpif.org/">Foreign Policy In Focus</a>, a network of foreign policy experts. I also serve as a monthly columnist for the Oxford, UK-based <em><a href="http://www.newint.org/">New Internationalist</a></em> magazine.</p>
<p>I am currently co-authoring a book about the evolution of political nonviolence with my brother <a href="https://organizationunbound.org/paul-engler/">Paul Engler</a>, with whom I write a monthly “<a href="http://beautifultrouble.org/">Beautiful Trouble</a>” column at <a href="http://wagingnonviolence.org/">Waging Nonviolence</a>.</p>
<p>An archive of my work is available at <a href="http://www.democracyuprising.com/">DemocracyUprising.com</a> and I can be reached at engler(at)democracyuprising.com.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/should-we-fight-the-system-or-be-the-change/">Should we fight the system or be the change?</a></strong></em></p>
