---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Megan Thom"
    heroImage="megan-et-mais.jpg"
	
>
<p><img src="/megan-et-mais.jpg" alt="Megan Thom et mais" title="megan et mais">Since the age of 12 when activism was what my cool older siblings did, I have been searching for effective ways to create change in myself and others in my community.</p>
<p>From working with a spirulina farm in Burkina Faso to the <a href="http://rooftopgardens.ca">Rooftop Gardens Project</a> in Montreal and summer camp in Estonia, I am always looking for ways to integrate my passions for social and environmental change with the joy I take in playing music, being outside, being with friends and eating.</p>
<p>I currently work in Victoria, BC for the <a href="http://www.vircs.bc.ca/">Victoria Immigrant and Refugee Centre Society (VIRCS)</a> helping immigrant and refugee children and youth to succeed in Canada using the the arts as well as social and academic programming. I spend most of my days scrambling to meet the daily demands of non-profit life and occasionally getting to examine why and how I try to create change.</p>
<p>I can be reached at thom.megan(at)gmail.com.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="/blog/fun-change-real-change/">Fun change = real change</a></strong></em></p>
