---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Paul Engler"
    heroImage="/PaulEngler-HiRes.jpg"
	>

    <p><img src="/PaulEngler-HiRes.jpg" alt="PaulEngler-HiRes"></p>
    <p>I am an activist, community organizer, and therapist.</p>
    <p>I&#39;m also founding director of the Center For the Working Poor and Burning Bush Community in Los Angeles- an inter-faith intentional community based off of the Catholic Worker movement and New Monasticism, which is committed to strategic non-violent social change.</p>
    <p>I am writing a book with my brother <a href="https://organizationunbound.org/mark-engler/">Mark Engler</a> about the evolution of political nonviolence. We also write a monthly “<a href="http://beautifultrouble.org/">Beautiful Trouble</a>” column together at <a href="http://wagingnonviolence.org/">Waging Nonviolence</a>.</p>
    <p>I can be reached at penglerpce97(at)yahoo.com.</p>
    <p><strong>Contributions:</strong></p>
    <p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/should-we-fight-the-system-or-be-the-change/">Should we fight the system or be the change?</a></strong></em></p>
    