---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Peter Brownell"
    heroImage="/Peter-Brownell_headshot.jpg"
	
>
<p> I'm a symbol man. I am always searching for the patterns, for ways to distil and communicate the essence of complex systems. I've explored this theme through software, design, writing, performance, ritual and esoteric systems. Most of the time, I get it wrong.</p>
<p>I've spent the last 20 years designing and building software systems, discovering just how difficult it is to get a group of people to work together to bring abstract concepts into some form of reality. After 15 years of trying to learn how to build software right, I eventually realised that none of if mattered if we were building the wrong thing.</p>
<p>Over the last five years my work has come to focus on how organisations need to change in order to use technology well. How does a group of people understand what problem they want to solve, and how should they go about making decisions?</p>
<p>At the end of 2016, I gave up making software to focus on the bits I had actually always been interested in - getting people to work together better. My new business, <a href="http://the-organization.com/">The-Organization.com</a>, now seeks to change how people work by evolving more distributed, creative working practices by fixing the relationship between organizations and technology.</p>
<p>One day, I would like to be a gardener.</p>
<p>I can be reached at peter(at)the-organization.com</p>

<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/a-personal-journey/">A personal journey to a new way of working</a></strong></em></p>
<p><em>Photo by <a href="http://immoklink.com/news/guerilla-poster-campaign-cop21">Immo Klink</a></em></p>
<p><em>I find it darkly amusing that I am using a photograph of myself that was created as a parody of the corporate executive for an activist campaign at COP21. Face your fears or become what you hate?</em></p>
