---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Reflections from Brazil"
	
>
<p><a href="https://organizationunbound.org/wp-content/uploads/2011/12/TRFSandGrey.jpg"><img src="https://organizationunbound.org/wp-content/uploads/2011/12/TRFSandGrey.jpg" alt="Revolution"></a></p>
<p><em><a href="https://organizationunbound.org/wp-content/uploads/2013/12/AugustoCuginotti.jpg"><img src="https://organizationunbound.org/wp-content/uploads/2013/12/AugustoCuginotti.jpg" alt=""></a></em></p>
<p><em><a href="https://organizationunbound.org/augusto-cuginotti/">Augusto Cuginotti</a> is a facilitator and activist based in Brazil whose work involves designing minimalist interventions for individual and collective learning. After not seeing what he felt was a particularly promising aspect of</em> <em>Brazil&#39;s recent uprisings being represented in the media&#39;s telling of what happened, he decided to contribute his own story. What follows is a re-print of an <a href="http://www.opendemocracy.net/transformation/augusto-cuginotti/manifesting-second-order-revolution-in-brazil">article</a> he wrote for www.opendemocracy.net about the &#39;Dialogue of 1,000 Tables&#39; that was held in four major cities across the country last June.</em>  </p>
