---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Reflections from Egypt"
	
>
<p><a href="/dialogues/taking-the-r-forward/"><img src="https://organizationunbound.org/wp-content/uploads/2011/12/TRFSandGrey.jpg" alt="" title="www.mercadoetico.com.br"></a></p>
<p><strong><em><a href="/Motaz.jpg"><img src="/Motaz.jpg" alt="Motaz Attalla" title="Motaz"></a></em>**</strong><em>We first met <a href="/motaz-attalla/">Motaz Attalla</a> at an <a href="https://organizationunbound.org/expressive-change/the-un-conference/">unconference</a> in India on alternative education. Motaz kept a large group of us rivited as he talked about his experiences in Tahrir Square during the early days of the Egyptian revolution. His description of &quot;the life of the square&quot; was so compelling and hopeful that it inspired us to create this series of reflections from people in different parts of the world. Motaz was the first person we asked to participate. Here is an edited version of our conversation.</em>**</p>
<h2 id="-the-promise-of-the-square-a-conversation-with-motaz-attalla-https-organizationunbound-org-the-promise-of-the-square-"><a href="/the-promise-of-the-square/">The promise of the square: A conversation with Motaz Attalla</a></h2>
<p>WARREN: Can you take us back a bit to how you experienced the early days of Tahrir Square?</p>
<p>MOTAZ: One word comes to mind very quickly and that word is ‘intimacy’.  You know when you are in an extraordinary situation, whether it is negative or positive, it becomes so easy to feel very close to other people. And what happened in the square was this state of closeness was allowed to simmer and cook over enough of a period that it became its own distinct thing. And it revealed ways of being together and ways of communicating that had the sort of promise of being this wonderful bedrock for society. There was this sense of rediscovering pure community- with all its good and bad. Knowing what it means to receive gifts and give gifts, to receive care and give care between absolute strangers and with a totally open heart.</p>
<p><strong><a href="/the-promise-of-the-square/">Read More</a></strong></p>
