---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Reflections from Nigeria"
	
>
<p><img src="https://organizationunbound.org/wp-content/uploads/2011/12/TRFSandGrey.jpg" alt=""></p>
<p><em><a href="/Tolu.jpg"><img src="https://organizationunbound.org/wp-content/uploads/2012/03/Tolu-300x293.jpg" alt=""></a></em></p>
<p><em>Meet our great friend <a href="/tolulope-ilesanmi/">Tolulope Ilesanmi</a>. For many years Tolu has inspired us with his way of infusing love and spirit into every space he enters: the community, the classroom, his family, his businesses.</em></p>
<p><em>Now he is bringing that same spark to social movement work in his birth country, Nigeria.</em> <em>Below, he reflects on what has pulled him in this new direction.</em></p>
<h2 id="transcending-discontent">Transcending discontent</h2>
<p>The Occupy movement and the uprisings around the world have been quite intriguing for me. I see the same pattern in them all – the Arab spring, Occupy Wall Street and the most recent Occupy Nigeria, my home country. There is mass discontent, fueling protests against existing authority and calling the powers that be to order. The tipping point in the Nigerian case was [...]</p>
<p><a href="/transcending-discontent-by-tolulope-ilesanmi">Read More</a></p>
