---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Reflections from Greece"
	
>
<p><a href="/dialogues/taking-the-r-forward/"><img src="https://organizationunbound.org/wp-content/uploads/2011/12/TRFSandGrey.jpg" alt="" title="www.mercadoetico.com.br"></a></p>
<p><strong><em>Meet <a href="/anthi-theiopoulou/">Anthi Theiopoulou</a> of Athens, Greece who took us on a captivating 3-hour journey into her experience of the</em> <em>citizen movement in Syntagma Square. Anthi has a remarkable way of arriving at the peaceful center of even the most chaotic and uncertain circumstances. She sees every moment as an opportunity for learning, and it is through this expansive lens that she describes her experience of Syntagma Square. Below is an abridged version of our conversation, along with a short audio-clip on the implications for organizational leadership.</em></strong></p>
<h2 id="-the-learning-stance-a-conversation-with-anthi-theiopoulou-https-organizationunbound-org-the-learning-stance-by-anthi-theiopoulou-"><a href="https://organizationunbound.org/the-learning-stance-by-anthi-theiopoulou/">The learning stance: A conversation with Anthi Theiopoulou</a></h2>
<p><strong>Warren:</strong> What are the particular qualities of the organizing and protesting that you have experienced in Syntagma Square that you most appreciate and would love to see deepen and expand?</p>
<p><strong>Anthi:</strong> There are a few qualities that are present and that are actually enabling the self-organizating that has been happening in Syntagma Square. In my opinion, one of the very important ones is the learning stance. It is crucial because without this quality present, we cannot develop and work with any other quality. In order to learn something new, you need to have a learning stance. You cannot learn something if you think you know it already. And because this movement in Syntagma Square is oriented towards [...]</p>
<p><strong><a href="https://organizationunbound.org/the-learning-stance-by-anthi-theiopoulou/">Read More</a></strong></p>
<h2 id="-an-audio-excerpt-https-organizationunbound-org-wp-content-uploads-2011-12-anthileadershipeq-mp3-"><a href="https://organizationunbound.org/wp-content/uploads/2011/12/AnthiLeadershipEQ.mp3">An audio excerpt</a></h2>
<p>Click <strong><a href="https://organizationunbound.org/wp-content/uploads/2011/12/AnthiLeadershipEQ.mp3">here</a></strong> to listen to a 5-minute audio excerpt of our conversation with Anthi where we touch on implications for organizational leadership.</p>
<p><em><a href="https://organizationunbound.org/wp-content/uploads/2011/12/Dividers.jpg"><img src="https://organizationunbound.org/wp-content/uploads/2011/12/Dividers.jpg" alt="" title="Dividers"></a></em></p>
<p>j</p>
<p><em><a href="https://organizationunbound.org/wp-content/uploads/2011/10/SarahWhiteleySmall.jpg"><img src="/SarahWhiteleySmall.jpg" alt="" title="Sarah Whiteley"></a></em></p>
<p><strong>_Meet <a href="https://organizationunbound.org/sarah-whiteley/">Sarah Whiteley</a> from <a href="http://axladitsa.org/">Axladitsa</a>, who has been sharing her very personal in-the-moment accounts of  the citizens movement that took place in Greece&#39;s Syntagma Square. She, Anthi, and Maria Scordialos (co-founder of Axladitsa) continue to participate by offering spaces where people can connect in meaningful conversation so that they can discover the way to pioneer the Greece they want to create. _Her reflections below highlight the non-linear nature of building a movement that is deeply aligned with its values and how to approach it with patience and reverence.__</strong>  </p>
<h2 id="-dancing-the-space-open-https-organizationunbound-org-dancing-the-space-open-"><strong><a href="/dancing-the-space-open/">Dancing the space open</a></strong></h2>
<p><strong>Reprinted from the <a href="http://www.walkoutwalkon.net/2011/06/dancing-the-space-open/">Walk Out Walk On</a> blog, June 2011</strong></p>
<p>We were scheduled to host a World Café last night at 11pm.  We had sensed right timing the day before – both by members of the assembly core team in Syntagma and by ourselves – Maria, Anthi, Odysseas...and myself.  We were scheduled to follow a series of speeches, starting at 7.30pm, by a Panel consisting of well-respected Greek professionals offering different perspectives to a seated crowd – assembled in rows in the centre of Syntagma Square.</p>
<p><a href="https://organizationunbound.org/dancing-the-space-open/">Read More</a></p>
<h2 id="-safety-nets-for-learning-https-organizationunbound-org-safety-nets-for-learning-"><strong><a href="https://organizationunbound.org/safety-nets-for-learning/">Safety nets for learning</a></strong></h2>
<p><strong>Excerpted from her post on the <a href="http://axladitsa.ning.com/">Axladitsa ning</a>, September 2011</strong></p>
<p>I found this great video on National Geographic: Adventure Sports: The Next Wave: Free Soloing With a Net. Its an incredible video of a young guy committed to climbing harder rock climbs without a rope – and yet wanting to stay safe as he learned.  He innovated by learning over rivers, so that if he fell, he would fall into [...]</p>
<p><a href="https://organizationunbound.org/safety-nets-for-learning/">Read More</a></p>
