---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
title= "Reflections from Spain-India-Canada"

	
>
<p><img src="/taking-the-r-forward/" alt="](https://organizationunbound.org/wp-content/uploads/2011/12/TRFSandGrey.jpg)"></p>
<p><strong><em><a href="https://organizationunbound.org/wp-content/uploads/2011/12/profile1.jpg"><img src="/profile1.jpg" alt="" title="profile"></a>Meet <a href="https://organizationunbound.org/baijayanta-mukhopadhyay/">Baijayanta Mukhopadhyay</a>, a medical doctor, a wanderer, an activist, and a beautiful writer. We were thrilled to receive this piece in which he explores revolutionary themes from a number of evocative angles. He starts by describing his experiences in Spain, which then become a doorway for deeper inquiry into the promises and puzzlements of the stirrings in his own home country of Canada. It is an eclectic piece that is at once personal and global. We hope you enjoy it as much as we did!</em></strong>      </p>
<h2 id="-how-to-occupy-democracy-https-organizationunbound-org-how-to-occupy-democracy-"><a href="https://organizationunbound.org/how-to-occupy-democracy/">How to occupy democracy</a></h2>
<p><strong>By <em>Baijayanta Mukhopadhyay, November 2011</em></strong></p>
<p>Navarra, early May 2011.  Grape juice in Spain is like grape juice nowhere else.  José and I are waiting for the bus back into town.  The streets are quiet with the siesta.  We have found a bar that is slowly reopening, spilling its shade into the heat.  He has suggested that I try this cool ambrosia called <em>mosto</em>.  I will spend the rest of my stay in Spain guzzling it by the litre.</p>
<p>It is May in the interior north.  The Kingdom of Navarra.   Wine country.  The last independent kingdom of the Iberian peninsula to bow to the power of Madrid.  Flat, dry.  We have just wandered through a castle from the Middle Ages, one of those monuments that I thought only existed in fairy tales, with endless nooks and crannies, surprising turrets sprouting up where you least expect it, winding staircases up to gardens, down to bedrooms with views over the plains of grapevines. Walls providing shade from the sun, connected by passages swept by the wind.  The stunning product of some crazy, impossible imagination of architecture, the majesty of possibility set into stone, from which you can gaze out to horizons interrupted by swells of the Pyrenees foothills, marked now by the anachronistic incongruity of lazy arms of wind turbines beating the air.</p>
<p><strong><a href="https://organizationunbound.org/how-to-occupy-democracy/">Read More...</a></strong></p>
