---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Reflections from Greece"
	
>

<p><strong><em><a href="/dialogues/taking-the-r-forward/"><img src="https://organizationunbound.org/wp-content/uploads/2011/12/TRFSandGrey.jpg" alt=""></a></em></strong></p>
<p><strong><em><a href="/Aydin.bmp"><img src="https://organizationunbound.org/wp-content/uploads/2011/12/Aydin.bmp" alt="" title="Aydin"></a>I</em>**</strong><em>n his reflections below, <a href="/aydin-yassemi/">Aydin Yassemi</a> explores the beauty revolutions are capable of manifesting, the mirages they can produce, and the possibilities he sees for their transformation. The insights he shares are rooted in his experience of the Iranian Revolution of 1979 as a young boy, his relationships with former freedom fighters, and the variety of organizational and community development projects he has been involved in over the years.</em>**</p>
<h2 id="-taking-the-revolution-inward-https-organizationunbound-org-taking-the-revolution-inward-by-aydin-yassemi-"><strong><a href="https://organizationunbound.org/taking-the-revolution-inward-by-aydin-yassemi/">Taking the revolution inward</a></strong></h2>
<p><strong>By Aydin Yassemi, October 2011</strong></p>
<p>When I first came across this question, it reminded me of a conversation I had with one of the top managers of a company about five years ago. He said, “I wonder why millions of people were able to sacrifice so much during our revolution in Iran [1979] and the war [Iran-Iraq war, 1980-88], with so much self-initiative, self-organization, cooperation and sense of belonging, but we can’t reproduce the same experience in a small company of 300 people, for small changes that directly affect our daily lives? Why can’t we reproduce the same spirit in our organizations?” What caused him to wonder even more was that most of the managers and employees who worked for the company were once among the frontline revolutionaries and war veterans, who had organized and/or participated in so many political activities.</p>
<p><a href="https://organizationunbound.org/taking-the-revolution-inward-by-aydin-yassemi/">Read More</a></p>
