---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Richard D. Bartlett"

>
<img src="/Richard-Bartlett.png" width={312} height={223} id="left" alt="Richard Bartlett">

<p>I am a software developer, activist, and open source hardware hacker.</p>

<p>I am one of the co-founders of <a href="https://www.loomio.org">Loomio</a>, an open source software for consensus decision-making, built by a worker-owned cooperative in New Zealand. We believe that more groups practicing effective, inclusive decision-making can change organisational dynamics at a global scale. Loomio exists to make it easy for anyone, anywhere, to participate in decisions that affect their lives.</p>
<p>I host <a href="https://blog.loomio.org/2017/03/13/were-coming-to-the-us-for-a-community-organising-workshop-tour/">training workshops</a> with organisations that want to be more collaborative and less hierarchical. I believe the most effective way to change a team culture is through gentle sustained pressure, so I also provide coaching services to people that want a buddy to check in with regularly.</p>
<p>I can be reached at <a href="mailto:richdecibels@gmail.com">richdecibels(at)gmail.com</a> and on Twitter at <a href="https://twitter.com/RichDecibels">@richdecibels</a></p>

<p>Contributions:</p>
 
≈ <a href="blog/build-a-network-of-small-groups-not-a-mass-movement-of-individuals">Build a network of small groups not a mass movement of individuals</a>
