---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Sadat Kashfi"
    heroImage="/Sadaf.jpg"
	
>
<p><img src="/Sadaf.jpg" alt="Sadaf" title="Sadaf">In my first year of university, I realized that institutional roles can create barriers that dehumanize people’s interactions. Through a prolonged war between the students and an overworked and underpaid cafeteria staff in my residence, I blindly tried to rally students and demand better treatment. This is when I met Warren Nilsson who taught me a very important lesson in conflict resolution: understand the other side’s perspective. Instead of aggravating the conflict and widening the resolution gap, I gave them a collectively signed thank you card and acknowledged their grievances. The experiment worked, we all hugged, and some cried. It was the first experience I had with breaking an institutional barrier, and it was such a rush that I remember thinking “I can now die happy”.</p>
<p>Shortly after this burst of euphoria, I started seeing all kinds of barriers that prevented groups from engaging with outsiders. I spent the rest of my studies at McGill grappling with ways to eliminate these barriers. After graduation, I interned with <a href="http://coady.stfx.ca/">Coady International Institute</a>, and worked with a <a href="http://www.caribbeanfarmers.org/">farmer’s association</a> in the Caribbean. Although this placement deepened understanding of the complexity that comes with working in between cultural, political, and socio-economic barriers, I decided to add another lens to my perception before continuing on my quest.</p>
<p>I am starting a law degree at the University of Hawaii, where I hope to concentrate on native and environmental law.</p>
<p>I can be reached at sadaf.kashfi[at]gmail.com</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/the-bike-shed/">The Bike Shed</a></strong></em></p>
