---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
title= "Safety Nets for Learning, by Sarah Whitely"

	
>
<p>Excerpted from her post on the <a href="http://axladitsa.ning.com/">Axladitsa ning</a>, September 2011_.</p>
<p>I found this great video on National Geographic:</p>
<p><a href="http://adventure.nationalgeographic.com/adventure/fringe-elements/adventure-sports-videos/#/matt-maddaloni-boulder_33763_600x450.jpg">Adventure Sports: The Next Wave: Free Soloing With a Net</a></p>
<p>Its an incredible video of a young guy committed to climbing harder rock climbs without a rope - and yet wanting to stay safe as he learned.  He innovated by learning over rivers, so that if he fell, he would fall into the water.  Yet, in wanting to take his learning inland...he innovated and engineered a huge, highly responsive safety net that he precisely positioned under the climb!</p>
<p>This speaks to me of the spaces such as Axladitsa, the space we are seeking to create in Athens...and the temporary tent villages that rise and fall, based on need and right timing - to be the places where we can learn safely. As the caption says below the video: &quot;The consequences of a free solo fall reverberate through families, friends, and the greater community. Which camp do you fall into? Can an act be both beautiful and foolish?&quot;</p>
<p>My partner Maria recently wrote a powerful testimony of the violence she witnessed in Syntagma Square on September 3, 2011. Her final paragraph here speaks of the call to create a place in Athens...</p>
<p><em>Now some days later, I am still feeling the shock of the violence and holding even deeper resolve to keep witnessing and creating space and processes for the interdependent evolution of diverse creative expressions in Hellada. Specifically, we are dreaming of a physical space in Athens – where we can begin to meet, learn, exchange, dream, experiment, incubate and be in good parea – where we can transform ourselves systemically and create life as it flows through us.  A place where artists can meet with architects, where business people can drink coffee with activists, where young people can talk to Yiayias and Papudes (Grandmothers and Grandfathers), where mothers can be together, etc.</em>  </p>
<p>We need safety nets to break our fall as we learn to scale new, challenging heights...and perhaps these spaces and the ways they are hosted are the nets...and as the young climber / innovator said in his video...if you&#39;re not learning, you&#39;re not living...&quot;</p>
<p>Return to <a href="/dialogues/taking-the-r-forward/">Taking the Revolution Forward</a></p>
