---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Sarah Whitely"
    heroImage="/SarahWhiteley.jpg"
	>
    <div class="container">
    <img src="/SarahWhiteley.jpg" alt="Sarah Whiteley" title="Sarah Whiteley" width="216" height="162" id="left">
<div class="content">
<p>Sarah Whiteley is a writer, field-weaver and translator of subtle intelligences of people and place, within systemic transformation processes.</p>
<p> Sarah stewards <a href="http://www.axladitsa.org/">Axladitsa Avatakia</a> and is co- founder of Hara Practice Ltd and the Living Wholeness Institute - researching and sharing the social architecture of living wholeness – the practice of <em>being systemic.</em></p>  
<p>She is co-initiator and Steward of the <a href="http://www.artofhosting.org/">Art of Hosting</a><strong><a href="http://www.artofhosting.org/">.</a></strong> </p>
<p>She can be reached at sarahwhiteley.hara(at)virgin.net. To find out more about her work, check out the following sites:</p>

</div>
</div>
<p><a href="http://www.walkoutwalkon.net/author/sarah/">http://www.walkoutwalkon.net/author/sarah/</a></p>
<p><a href="http://www.axladitsa.ning.com">http://www.axladitsa.ning.com</a></p>
<p><a href="http://www.powersofplace.com">http://www.powersofplace.com</a></p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="../dancing-the-space-open/">Dancing the space open</a></strong></em> (<em>Reprinted from the <a href="http://www.walkoutwalkon.net/2011/06/dancing-the-space-open/">Walk Out Walk On</a> blog, June 2011)</em></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/safety-nets-for-learning/">Safety nets for learning</a></strong></em>(<em>Excerpted from her post on the <a href="http://axladitsa.ning.com/">Axladitsa ning</a>, September 2011)</em></p>


<style>
    .container{
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
        grid-template-columns: 216px 451px;
    }
    p {
        overflow:hidden;
    }
</style>