---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
title= "Screening Feedback"

	
>
<p><em>Please note that this information is archived and no longer relevant</em></p>
<p>If you've hosted a screening of the film 'Changing the way we change the world', we'd love to hear from you! Please fill out the short survey below about your experience. (Note: If the survey doesn&#39;t appear immediately, please wait a few seconds. If it still doesn't appear, try switching browsers)</p>

