---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
title= "Short Film"

	
>
<p>Changing the Way We Change the World is a 16-min film introducing the concept of expressive change, created from over 80 crowd-sourced interviews from around the world.</p>
<p>It is intended as a conversation starter- for you to watch and discuss with fellow staff members, volunteers and board members. Subtitles now available in Español, Français &amp; Português on Youtube or, for a subtitled hard copy, contact tana(at)organizationunbound.org.</p>
<p>Check out our <a href="https://drive.google.com/file/d/0B9n6TOVC3gefZjJVbkJVcTJTRFU/view?usp=sharing">Film Screening Guide</a> for download links, facilitation tips and sample dialogue questions (also available in <a href="https://drive.google.com/file/d/0B9n6TOVC3gefQzdZWDVzUEM0UDQ/view?usp=sharing">Español</a> &amp; <a href="https://drive.google.com/open?id=0B9n6TOVC3gefdFdRcjZsMENNbTg">Français</a>). It will come in handy whether you are planning to watch the film with a couple of colleagues or a whole room of people.</p>
<p>.</p>
<iframe src="https://www.youtube.com/embed/wOSSb5d1lq4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

<p>.</p>
<p>Interested in a deeper dive into the concept and practice of expressive change?                                               Check out <a href="/in-practice-2/">these self-guided sessions</a>.</p>
<p>Like and share your feedback on the film&#39;s <a href="https://www.facebook.com/expressivechangefilm">facebook page</a>. .</p>
<p>.</p>
