---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="Stewards"
>

<p id="heading">Cristina Temmink</p>
<hr>

<img src="/Cristina-3.png"  width={240} height={240} alt="" id="left">

<p>I have a background in international development, and for over 15 years I facilitated learning processes in NGOs, CSOs, and social movements worldwide.</p>

<p>Today I am committed to transformative learning, an approach to learning that connects our experiences at the individual, collective, and systemic levels to support deep social change from the inside out. I accompany transformative learning in a wide range of organizations on topics as diverse as leadership for systemic change, the food system, feminist activism, and self-organization.</p>

<p>I am also a facilitator of the <a href="http://www.barefootguide.org/">Barefoot Guide Connection</a> and one of the leading members of <a href="https://www.facebook.com/Lekkernassuh/">Local Food The Hague</a>.</p>

<p>On a more personal note, my most ‘transformational’ life experience was being adopted as a 5-year-old from the rural Andes region in Colombia by a Dutch family. I’ve spent my adult life living between the Netherlands and Colombia with my now teenaged kids. I love adventurous hikes, protest songs, and unexpected encounters.</p>



<p id="heading">Tana Paddock</p>



<img src="/Tana-CloseUp.png" width={240} height={240} id="left">

<p>For the past 15 years I've been focused on forging a stronger relationship between the fields of social change and organizational development. This interest evolved out of my experience working in nonprofits in the United States and gained momentum through my work with the <a href="https://coco-net.org/">Centre for Community Organisations</a> in Canada, where I provided organizational support to nonprofits throughout the Montreal region. I also gained a tremendous amount of insight through my involvement with <a href="https://santropolroulant.org/en/what-is-the-roulant/">Santropol Roulant</a>.</p>

<p>In 2010, my partner Warren and I embarked on an open-ended journey to learn from social purpose organisations around the world. After spending a year in Zimbabwe and India, we eventually put roots down in Cape Town, South Africa. It was during this period of exploration that we started Organization Unbound.</p>

<p>A few random facts about me: I adore bicycle-centric cities, crave dialogue and community, and have a soft spot for artichokes and candy corn.</p>



<p id="heading">Tim Hartley</p>



<img src="/TimHartleyBio.png" width={240} height={240} id="left" alt=""><p>I am a senior partner at <a href="http://impactready.org/">ImpactReady</a> which was founded to ask a question: what does it take to create positive impact in the world? Reaching an answer is less important to us than asking the question; I find myself continually fascinated and inspired by the organisations we get to meet and learn with along the way. ImpactReady has been a <a href="https://bcorporation.net/directory/impactready"> certified B Corp</a> since 2016.

<p>I see the world through the lens of systems and human dynamics. I’m particularly fascinated by the emotional impact our organisations create: I believe curiosity is at the heart of leadership.</p>

<p>I grew up in Belgium as a Brit overseas, which meant being educated in the <a href="https://www.eursc.eu/en/European-Schools/mission">European School</a> system. From the age of five I thought it was normal to be surrounded by people from different cultures, all speaking different languages; it turns out I haven’t changed much more than thirty years later.</p>  

<p>I live in Edinburgh, Scotland. Recently married, currently nesting like there is no tomorrow.</p> 



<p id="heading">Warren Nilsson</p>



<img src="/Warren-Nilsson-Bio.png" width={240} height={240} id="left" alt="">

<p>I am a co-founder of Organization Unbound, Associate Professor in social innovation at the <a href="http://www.gsb.uct.ac.za/">University of Cape Town Graduate School of Business</a> and a Faculty Member of the [UCT Bertha Centre for Social Innovation](http://www.gsb.uct.ac.za/s.asp?p=389).</p>

<p>My research focuses on the organizational dimensions of social change and institutional transformation. I explore the relationship between positive organisational dynamics (e.g., engagement, creativity, compassion) and broader patterns of deep, intentional, institutional change.</p>

<p>I have worked with social purpose organisations in North America, Africa, and India and have a passion for connecting my academic research to practitioner-driven social initiatives.  Prior to entering academia I spent ten years in the community development sector in the United States.</p>

<p>I am one of 20 siblings from a multi-racial, adoptive family. Guitar and piano player. Urban bicycler. Devoted to 19th century novels and 20th century poetry.</p>

<style>
	img#left{
		float:left;
		padding-right:1rem;

	}

	p#heading {
		font-size:18px;	
		font-style:italic;	
	}
	p {
		font-size:14px;
		
	}


</style>