---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Sue Davidoff"
    heroImage="/AugustoCuginotti.jpg"
	
>

<p><a href="https://organizationunbound.org/wp-content/uploads/2014/07/Sue.jpg"><img src="https://organizationunbound.org/wp-content/uploads/2014/07/Sue-254x300.jpg" alt="Sue"></a>I am a facilitator, teacher, and writer. As co-founder of <a href="http://www.proteusinitiative.org/">The Proteus Initiative</a>, I help to bring a Goethean-inspired understanding and method to the sphere of social and environmental change, activism and stewardship.</p>
<p>Prior to that I was the founder and former director of the Teacher Inservice Project where I provided organizational development support to educational institutions at the local, provincial and national levels in South Africa.</p>
<p>I’m the author of, amongst other works, <a href="http://www.amazon.com/The-Learning-School-Organisation-Development/dp/0702156620">The Learning School</a>, <a href="http://www.amazon.co.uk/Books/s?ie=UTF8&amp;field-author=Sue%20Davidoff&amp;page=1&amp;rh=n%3A266239%2Cp_27%3ASue%20Davidoff">The Courage to Lead</a>, and Changing your Teaching.</p>
<p>You can reach me at sued(at)mweb.co.za</p>
<p><em><strong>≈ <a href="/blog/sneak-preview-of-a-delicate-activism">Sneak preview of &#39;A Delicate Activism&#39;</a></strong></em></p>