---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Sushrut Munje"
    heroImage="/Sushrut.jpg"
	
>
<p><img src="/Sushrut.jpg" alt="Sushrut Munje" width="210" height="210" id="left"></p>
<p>After a stint in an engineering college and a couple of internships, I&#39;ve found my calling as a writer and an entrepreneur. Based in Mumbai (India), I&#39;m building <a href="http://hammerandmop.com/">Hammer &amp; Mop</a>, a premium cleaning services company focused on providing beneficial employment to the underprivileged and delivering remarkable service to our clients.</p>
<p>I also curate <a href="http://frankaffe.com/">Frankaffe</a>, a group blog where I write with my co-authors. Frankaffe believes in freedom, love and the vast scope of design. I&#39;m a contributing author on <a href="http://under30ceo.com/">Under30CEO.com</a> and a published poet. It is my aim to address key workforce issues in India and create brilliant organizations that deliver value to all parties involved.</p>
<p>I enjoy having conversations that help expand perspectives. I&#39;m in love with efficiency and animals.</p>
<p>Drop me a line at sushrut(at)hammerandmop.com</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="/blog/podcast-a-conversation-with-sushrut-and-tolu/">A conversation with Sushrut and Tolu (Podcast)</a></strong></em></p>
