---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Tana Paddock"
    heroImage=""
	
>
<p><strong><img src="/Tana-CloseUp.png" alt="Tana Paddock" width="243" height="243" id="left"></strong></p>
<p>For the past 15 years I've been focused on forging a stronger relationship between the fields of social change and organizational development. This interest evolved out of my experience working in nonprofits in the United States and gained momentum through my work with the <a href="https://coco-net.org/">Centre for Community Organisations</a> in Canada, where I provided organizational support to nonprofits throughout the Montreal region. I also gained a tremendous amount of insight through my involvement with <a href="https://santropolroulant.org/en/what-is-the-roulant/">Santropol Roulant</a>.</p>
<p>In 2010, my partner Warren and I embarked on an open-ended journey to learn from social purpose organisations around the world. After spending a year in Zimbabwe and India, we eventually put roots down in Cape Town, South Africa. It was during this period of exploration that we started Organization Unbound.</p>
<p>A few random facts about me: I adore bicycle-centric cities, crave dialogue and community, and have a soft spot for artichokes and candy corn.</p>
<p>I can be reached at tana(at)organizationunbound.org</p>
