---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Tania Katzschner"
    heroImage="/Tania-Katzschner.jpg"
	
>
<p><img src="/Tania-Katzschner.jpg" alt="Tania Katzschner" width="232" height="300" id="left">I’m trained as a City and Regional Planner and have on-the-ground experience as a social and environmental development practitioner.</p>
<p>Born in Germany, I have lived and worked in South Africa since 1991 where I currently work as a lecturer in City &amp; Regional Planning at the University of Cape Town. Prior to that I was based in local government, the City of Cape Town, working in ‘Environmental Resource Management’. I have also worked with the private sector, NGOs, and conservation agencies. My research interests center around the role of nature in human affairs.</p>
<p>Working in different sectors has nurtured my fascination with in-between spaces and bridging different disciplines, knowledges, perspectives and ways of being in the world. I love socially transformative practices that bring more life, more warmth, and more charge.</p>
<p>I am preoccupied with reconnecting ecological questions to an expanded sense of care, responsibility and obligation. Learning <a href="http://www.natureinstitute.org/nature/index.htm">Goethean phenomenology</a> and integral approaches has given me fresh eyes.</p>
<p>Beside strong social-environmental interests, I love enduring sporting activities and movement. I am a dedicated Iyengar yoga practitioner. I am passionate about traveling, languages, alternative health care, and the arts. My latest adventure has been into motherhood – an ongoing beautiful learning journey.</p>
<p>Here is one of my favorite quotes and a mantra to live by:</p>
<p><em>“So often activism is based on what we are against, what we don&#39;t like, what we don&#39;t want. And yet we manifest what we focus on. And so we are manifesting yet ever more of what we don&#39;t want, what we don&#39;t like, what we want to change. So for me, activism is about a spiritual practice as a way of life. (...) I fell in love with the world. So it is my feeling of &#39;connection&#39; that drives me, instead of my anger and feelings of being disconnected.” - Julia Butterfly Hill , The Taoist and the Activist, 2005</em></p>
<p><em>“What day is it?” asked Pooh</em></p>
<p><em>“It’s today,” squeaked Piglet</em></p>
<p><em>“My favorite day”, said Pooh.</em></p>
<p>I can be reached at Tania.katzschner@uct.ac.za</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="blog/stuck-in-an-old-story/">Stuck in an old story</a></strong></em></p>
