---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
title= "Tending the soil"
heroImage=""

	
>

<style>
	img #collection {
		padding:0.5rem;
		display:inline;
        max-height:75px;
        max-width:159px;
	}

	.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

</style>

<p><img src="https://organizationunbound.org/wp-content/uploads/2016/05/Slide07-300x225.png" alt="Slide07"> 
    
    <div class="grid-container">
    
    <img src="/Slide13.png" alt="" id="collection"><img src="https://organizationunbound.org/wp-content/uploads/2016/05/Slide09-1.png" alt="Slide09" id="collection"><img src="/Slide09.png" alt="Slide09" id="collection"><img src="/Slide12.png" alt="Slide12" id="collection"></p>
    </div>