---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Tolu Ilesanmi"
    heroImage="/Toluportrait.jpg"
	>

    <p><img src="/Toluportrait.jpg" alt="Tolu portrait photo" width="200" height="300" id="left"></p>
<p>I am a Nigerian Canadian.</p>
<p>From childhood, I enjoyed reflection and attempted to mentally tackle questions like origin of God and eternity, since I grew up in a Christian home. Those thoughts created more questions than answers but they trained me to think with my own mind and arrive at my own conclusions, answers and questions, regardless of parental or societal influence.</p>
<p>While studying for my MBA at McGill, My ex-wife and I started <a href="http://www.zenithcleaners.com/">Zenith Cleaners</a>, to create experiences that enrich individuals within and outside our company, using cleaning as an excuse.</p>
<p>I served on the board of <a href="http://santropolroulant.org/site/">Santropol Roulant</a>, an organization I learnt a lot from and continue to learn from. I think they are intentional about their way of being in the world. I learn from the grace with which they use food as an excuse to break social isolation among others.</p>
<p>A few years ago, while working with some Zenith Cleaners staff at a client&#39;s, my ears witnessed a murder close to downtown Montreal. I came out to see a young man lying in a pool of his own blood. That experience pushed me over the edge, so I started blogging. Blogging helps me improve on how I frame my questions while simultaneously expressing myself intellectually and spiritually. As an entrepreneur, I lean towards action but writing helps me to balance action with reflection.</p>
<p>More recently, I started to reflect on Nigeria and to become more active in shaping its future.</p>
<p>I blog at <a href="http://zenithcleaners.com/blogs/">blog.zenithcleaners.com</a>.</p>
<p>Tolu left this earth on June 10, 2017.</p>
<p>This is our meditation on his life: <a href="/blog/in-memory-of-tolu/">In memory of Tolu.</a> </p>
<p>And these are the reflections he&#39;s contributed over the years: </p>
<p><em><strong>≈</strong></em> <a href="/blog/the-organization-unbound-giving-field/"><strong>The Organization Unbound giving field (2017)</strong></a></p>
<p><em><strong>≈</strong></em> <a href="/blog/cleaning-in-cape-town/"><strong>Cleaning in Cape Town (2017)</strong></a></p>
<p><em><strong>≈</strong></em> <strong><a href="/blog/cleaning-the-african-narrative/">Cleaning the African narrative (2016)</a></strong></p>
<p><em><strong>≈</strong></em> <strong><a href="/blog/i-am-a-cleaner/">I am a cleaner (2013)</a></strong></p>
<p><em><strong>≈</strong></em> <strong><a href="/blog/podcast-a-conversation-with-sushrut-and-tolu/">A conversation with Sushrut and Tolu (Podcast) (2012)</a></strong></p>
<p><em><strong>≈</strong></em> <strong><a href="/blog/transcending-discontent/">Transcending discontent (2012)</a></strong></p>
<p><em><strong>≈</strong></em> <strong><strong><a href="/blog/cleaning-for-a-change/">Cleaning for a change (2012)</a></strong></strong></p>
