---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
title= "Transcending discontent, by Tolulope Ilesanmi"

	
>
<a href="dialogues/taking-the-r-forward/)"><img src="/TRFSandGrey.jpg" alt="TRF Sand Grey"/></a>

<p>The Occupy movement and the uprisings around the world have been quite intriguing for me. I see the same pattern in them all - the Arab spring, Occupy Wall Street and the most recent Occupy Nigeria, my home country. There is mass discontent, fueling protests against existing authority and calling the powers that be to order.</p>

<p>The tipping point in the Nigerian case was the government's sudden removal of fuel subsidy, increasing the price of gas by more than 100% overnight. For the first time, youth rose up en masse within and outside the country, with no physical violence, demanding government accountability. For the first time, as one of the tweets in the height of the protests said, "the battle was taken to the intellectual space." The availability of tools like Twitter in the hands of the average phone user in Nigeria helped to multiply discontent as well as broadcast information and analysis that were previously available only to the elite. Now, many Nigerians know how much the Presidency spends on local travel on a daily basis and how many hundreds of people's salaries make up a senator's allowance. National and state budgets are now being scrutinized.</p>

<p>Discontent is good and far better than apathy, but it seems to me that these protests are only an expression of the need for change. We must also find ways of making discontent productive. Anger at government corruption and irresponsibility needs to fuel a quest to understand and refurbish the system that breeds corruption.</p>

[![](https://organizationunbound.org/wp-content/uploads/2012/03/ToluVillage-300x217.jpg "Photo")](https://organizationunbound.org/wp-content/uploads/2012/03/ToluVillage.jpg)There is an intentional aspect to sustainable change, much like a seed must be planted, watered and tended. If there is no intentional planting of new seeds, the existing trees will remain dominant and no amount of discontent will remove them. Even if we cut them, they will sprout again.

<p>So where do we plant these seeds of change?</p>

<p>Perhaps they need to be planted beneath the radar, where life happens - in homes, schools, market places, villages, organizations and other arenas of day-to-day engagement.</p>

<p>With this in mind, a number of Nigerians, including myself, are starting a movement called [RenewNigeria](http://renewnigeria.org/), which aims to awaken the consciousness of everyday Nigerians of their role in renewing their country. We hope to shift the focus of attention from the government and politics to everyday people and everyday interactions. Still in its beginning stages and with plenty of refining to come, RenewNigeria aspires to make ordinary interactions extraordinary, in partnership with organizations already active in social change in Nigeria.</p>

<p>We aim to make more people see that Nigeria is not "them" but "I" and "us", bringing closer to home the urgency and the responsibility of change. We aim to show that change begins when many more Nigerians stop being frustrated at the government, the polity and the society and channel the same energy into becoming the bigger change they seek, in day-to-day interactions with family members, friends, colleagues, clients and other Nigerians and non Nigerians. This is change at the grassroots, which makes political or government change inevitable.</p>

<p>From my experience in Nigeria, discontent or anger can help us shift the dynamic of every interaction from a focus on the urgent to the important. When we are stirred up enough to lead and we bring our whole spirit, soul and body to every situation and interaction, we can disarm or enroll even those who are bent on perpetuating injustice or corruption. People who are fully alive and fully present are not only irresistible, their spirits are contagious.

<p>Our task involves awakening the leader in the average Nigerian, hence the title of the first blog post on RenewNigeria's blog, [You are the leader](http://renewnigeria.org/you-are-the-leader/).</p>

<p>A short while ago, I read a beautiful blog [post](http://thehandwritten.com/too-much-at-stake/) about a mother who stopped striving to be a good blogger and best selling author but chose instead to make her children her audience. She concluded by saying, "I can fail at blogging and writing a best seller, but I can't fail at mothering. There is too much at stake."</p>

<p>Anger or discontent can be transformative when the change we desire becomes constitutive of our raison d'etre. We may fail at changing the government but we cannot fail at expressing what has become our individual or organizational reasons for being. There is too much at stake.</p>

<p>Visit<the Taking the Revolution Forward <a href="/dialogues/taking-the-r-forward/">collection/a> for more reflections on revolutionary movements</p>


