---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Undine Whande"
    heroImage="/UndineWhande.jpg"
	>
    <p><img src="/UndineWhande.jpg" alt="Undine Whande"">I am a Social Anthropologist and have worked in conflict transformation and social change for the past 14 years.</p>
    <p>Born in Germany, I have lived and worked in Southern Africa since 1996 and currently reside in Cape Town, South Africa where I work as a Specialist in Organisational Learning for the <a href="http://www.csvr.org.za/">Centre for the Study of Violence and Reconciliation (CSVR)</a>. I developed my expertise as a conflict mediator, coach and facilitator in social change processes in the often very challenging context of political and social transition in post-1994 South Africa.</p>
    <p>I&#39;ve worked with people from a wide variety of social and economic backgrounds and from different regions of the world. My approach in accompanying people in their professional and personal development, and growth through conflict and change, is strongly rooted in principles of respect, recognition and valuing each individual biography and life journey. I work with Goethean phenomenology and systems theory.</p>
    <p>You can reach me at <a href="https://organizationunbound.org/wp-content/uploads/2012/05/Undine.jpg">undinewhande(at)</a><a href="http://googlemail.com/">googlemail.com</a></p>
    <p><strong>Contributions:</strong></p>
    <p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/reflections-on-attentional-violence/">Reflections on attentional violence</a></strong></em></p>
    <p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/an-interesting-response-to-our-recent-talk/">An interesting response to our recent talk</a></strong></em></p>
    