---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Vanessa Reid"
    heroImage="/VanessaReid.jpg"
	
>
<p><strong><img src="/VanessaReid.jpg" alt="Vanessa Reid" title="Vanessa Reid"></strong></p>
<p>I am a seeker, systems thinker, yoga practitioner, social innovator and writer with a masters in architecture from McGill University.  I was the executive publisher of the award-winning Canadian yoga publication <a href="http://www.ascentmagazine.com/"><em>ascent</em> magazine</a> and executive director of <a href="http://www.santropolroulant.org/">Santropol Roulant</a>, a non-profit founded by young people that uses innovative approaches to food, relationships, and sustainability as a catalyst for social change.</p>
<p>I am very much in the questions of how we collectively evolve and transform our institutions, physical environments, paradigms – and how to access deeper levels of intelligence – to be more deeply aligned with life.</p>
<p>I am currently living in Jerusalem and co-founding the Living Wholeness Institute which works to support emergent social movements and systemic transformation initiatives across the globe. I am working in the Middle East, Europe and North America collaborating with organizations, communities, movements and leaders to help hospice old systems and seed and support new ways forward. I am a steward of the translocal learning network the <a href="http://www.berkana.org/">Berkana Exchange</a> and founder of the <a href="http://www.venuskitchen.blogspot.com/">Conscious Kitchen</a> and the Studio of the Extraordinary.</p>
<p>You can read more of my work on my blog <a href="http://jerusalemjournals.posterous.com/#%21/">Jerusalem Journals</a>.</p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="https://organizationunbound.org/expressive-change/the-invisible-networks/">The invisible networks</a></strong></em></p>
