---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Veena Vasista"
    heroImage="/VeenaVasista.jpg"
	
>

<p><img src="https://organizationunbound.org/wp-content/uploads/2013/09/VeenaVasista.jpg" alt="VeenaVasista" width="299" height="224" id="left">Greetings! I am a storyteller, writer, mediator, dialogue facilitator and leadership co-navigator. Currently, I am living nomadically and working in the UK, US and Mexico.  In a twenty-year career, the vast majority in London, my work-to-date has primarily focused on embedding human rights principles into social policy.</p>
<p>These days (late summer 2013), I am giving my attention to supporting social changemakers to step consciously into their/our creative power - individually and collectively. I am guided by the belief that social change, like life, is a collective creative process. I am convinced  that living together in ways which are healthier, fairer and more regenerative requires us to see and connect differently with our selves, each other and the creative process. And I work with changemakers to do just that– see and connect differently.</p>
<p>I blog regularly about social change and our conscious creative power at <a href="http://www.seeandconnect.com/">See &amp; Connect</a>. For more about my background, you might want to have a quick read of <a href="http://seeandconnect.com/my-story/">My Story</a>. In spring 2012, via a London-based political group called <a href="http://www.compassonline.org.uk/">COMPASS,</a> I published a think piece on leading social change from the inside-out: <a href="http://www.compassonline.org.uk/wp-content/uploads/2013/06/Our-Direction-Thinkpiece-71.pdf"><em>Our Direction is our Destination</em></a><em>.</em></p>
<p>When I&#39;m not writing, mediating, facilitating etc., I enjoy cooking vegetarian food (especially family recipes from South India), traveling in Spanish-speaking countries, hiking, the performing arts, laughing until my face hurts and picnicking on riverbanks.</p>
<p>I can be contacted at <a href="mailto:veena@veenavasista.com">veena(at)veenavasista.com</a></p>
<p><strong>Contributions:</strong></p>
<p><em><strong>≈ <a href="/blog/the-heart-of-einstein/">The heart of Einstein</a></strong></em></p>
