---
import Layout from '../layouts/BlogPost.astro';

---

<Layout
	title="Videos"
	
>


<iframe src="https://www.youtube.com/embed/wOSSb5d1lq4" width="560" height="315" allowfullscreen="allowfullscreen"></iframe>

<p>This 15-min film introduces the concept of expressive change, created from over 80 crowd-sourced interviews from around the world.</p>
<p>It is intended as a conversation starter- for you to watch and discuss with fellow staff members, volunteers and board members. Subtitles now available in Español, Français &amp; Português on Youtube or, for a subtitled hard copy, contact tana(at)organizationunbound.org.</p>
<p>Check out our <a href="https://drive.google.com/file/d/0B9n6TOVC3gefZjJVbkJVcTJTRFU/view?usp=sharing">Film Screening Guide</a> for download links, facilitation tips and sample dialogue questions (also available in <a href="https://drive.google.com/file/d/0B9n6TOVC3gefQzdZWDVzUEM0UDQ/view?usp=sharing">Español</a> &amp; <a href="https://drive.google.com/open?id=0B9n6TOVC3gefdFdRcjZsMENNbTg">Français</a>).</p>

<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vF9nuxB66Dc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


<p>This 10-min Tedx Talk that Organization Unbound co-founder Warren Nilsson gave in Cape Town suggests that the biggest challenge the world is facing is not how to create change but how to sustain change, and if we want to sustain change we are mostly paying attention to the wrong things, particularly inside our social purpose organizations and social movements.</p>
<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/pd8qjIQXnCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>This 40-min talk that Organization Unbound co-founder Warren Nilsson gave at University of Cape Town summarizes some of the core themes of Organization Unbound. “What kind of change might we create if we took our organizational practices more seriously as leverage points for social innovation?” Watch the Q & A that followed the talk <a href="https://www.youtube.com/watch?v=rk_7AxYLfgo">here</a>.</p>


<style>
    hr {
  border-top: 1px dotted;
  padding: 1rem 0;
}
</style>