---
import Layout from '../layouts/BlogPost.astro';

---
<Layout
	title="Warren Nilsson"
    heroImage=""
	
>

<p> I am a co-founder of Organization Unbound, Associate Professor in social innovation at the <a href="http://www.gsb.uct.ac.za/">University of Cape Town Graduate School of Business</a> and a Faculty Member of the <a href="http://www.gsb.uct.ac.za/s.asp?p=389">UCT Bertha Centre for Social Innovation</a>.</p>
<p>My research focuses on the organizational dimensions of social change and institutional transformation. I explore the relationship between positive organisational dynamics (e.g., engagement, creativity, compassion) and broader patterns of deep, intentional, institutional change.</p>
<p>I have worked with social purpose organisations in North America, Africa, and India and have a passion for connecting my academic research to practitioner-driven social initiatives.  Prior to entering academia I spent ten years in the community development sector in the United States.</p>
<p>I am one of 20 siblings from a multi-racial, adoptive family. Guitar and piano player. Urban bicycler. Devoted to 19th century novels and 20th century poetry.</p>
<p>warren(at)organizationunbound.org</p>
