---
import Layout from '../layouts/BlogPost.astro';

---

<Layout
	title="Welcome to Organization Unbound"/>



<p>We are a global community of practice that learns from and supports organizations seeking to more deeply align their internal practices with their broader social change goals. We believe the best way for our organizations to create deep and lasting change is to embody it.</p>
