---
import Layout from '../../layouts/BlogPost.astro';

---
<Layout
	title="Taking the Revolution Forward"
	
>
<p><img src="https://organizationunbound.org/wp-content/uploads/2011/12/TRFSandGrey.jpg" alt=""> We asked several people with on-the-ground experience of revolutionary movements to share their reflections with us on this question. Essays and interviews are posted below.  <a href="https://organizationunbound.org/?p=3405">Click here</a> to read more about what initially led us to start this dialogue. 
	
	<a href="/join-the-conversation/">Get in touch</a> if you're interested in joining the conversation!</p>
<p><a href="https://organizationunbound.org/reflections-from-egypt/"><img src="/EgyptDoorway1.jpg" alt=""></a><a href="https://organizationunbound.org/reflections-from-greece-2/"><img src="/GreeceDoorway3.jpg" alt=""></a> <a href="https://organizationunbound.org/reflections-from-spain-india-canada/"><img src="/SpainIndiaCanadaDoorway4.jpg" alt=""></a><a href="https://organizationunbound.org/reflections-from-iran/"><img src="/IranDoorway4.jpg" alt=""></a></p>
