<div>
    <section>
    <p>This website is a static archive of Organization Unbound (2010-2020). Click <a href="/blog/archived-with-love/">here </a> to see how the work is evolving.</p>    
</section>
</div>

<style>
    p {
        font-size:12px;
        font-family: Georgia;
        font-weight:700;
        padding:0.75rem;
        text-align:center;
        color:#ffffff;
        background-color:#008080;
        line-height:normal;
    }

    p a {
        color:#fff;
        font-weight:900;
    }

    section {
        width:100%;
        height:33.33px;
        position:relative;
        z-index: 2;
    }
</style>