---
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const currentPostIndex = posts.findIndex((post) => post.slug == Astro.params.slug);
const previousPost = currentPostIndex + 1 === posts.length ? undefined : posts[currentPostIndex + 1];
const nextPost = currentPostIndex === 0 ? undefined : posts[currentPostIndex - 1];
---

{
	(previousPost || nextPost) && (
		<nav>
			{ previousPost && ( <p class="right"><a href={`/blog/${previousPost.slug}/`}>Older Entries » </a></p> ) }
			{ nextPost && ( <p><a href={`/blog/${nextPost.slug}/`}>Newer Entries</a></p> ) }
		</nav>
	)
}

<style>
    p.right {
        text-align:right;
        text-decoration:none;
    }
</style>