---
---
<aside class="sidebar">
<div class="box-widget">
<h2>Who We Are</h2>
<p>We are a global community of practice that learns from and supports organizations seeking to more deeply align their internal practices with their broader social change goals. We believe the best way for our organizations to create and sustain meaningful change in the world is to embody it themselves. We represent all sectors of society- nonprofits, community & social movement groups, government agencies, foundations, and businesses.</p>
   </div>
    <div class="box-widget">
<h2>Changing the way we change the world</h2>
<iframe src="https://www.youtube.com/embed/wOSSb5d1lq4?rel=0&amp;showinfo=0" allowfullscreen title="Changing the way we change the world video on Youtube"></iframe>
</div>
<div class="box-widget">
<h2>Meet Our Contributors</h2>
Motaz Attalla :: Richard D. Bartlett :: Liam Barrington-Bush :: Peter Brownell :: Augusto Cuginotti :: Sue Davidoff :: Aerin Dunford :: Mark Engler :: Paul Engler :: Argrow “Kit” Evans :: Gioel Gioacchino :: Rachel Griner :: Kiran Gulrajani :: Caroline Howe :: Tolu Ilesanmi :: Allan Kaplan :: Sadaf Kashfi :: Fahri Karakas :: Tania Katzschner :: Marianne Knuth :: Jess Marais :: Alex Megelas :: Josée Méthot :: Baijayanta Mukhopadhyay :: Sushrut Munje :: Warren Nilsson :: Curtis Ogden :: Tana Paddock :: Alessandra Pigni :: Vanessa Reid :: Linda Sarvi :: Biren Shah :: Cameron Stiff :: James Taylor :: Anthi Theiopoulou :: Cristina Temmink ::  Megan Thom :: Veena Vasista :: Katherine Therese Whaling :: Undine Whande :: Sarah Whiteley :: Akaya Windwood :: Aydin Yassemi
</div>
<div class="box-widget">
    <h2>Highlights From the Archives</h2>
    <ul>
        <li><a href="/blog/thegivingfield">"The Giving Field"</a></li>
        <li><a href="/blog/the-experiential-turn">"The Experiential Turn"</a></li>
        <li><a href="/blog/whole-person-whole-system">"Whole-person, whole system"</a></li>
    </ul>
</div>
<div class="box-widget"></div>
<div class="tagcloud">
    <h2>Tags</h2>
    
</div>
</div>
<div class="box-widget">
    <img src="/creative-commons-licence.png" alt="creative comments licence">
    <p> Except where otherwise noted, content on this site is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">a Creative Commons Attribution-NonCommercial-NoDerivs 4.0 Unported License.</a></p>

</div>
</aside>

<style>
   aside.sidebar{
    top: 45px;
    left: 0;
    width: 300px;
    float:right;
    height: 100%;
    color:#666666;
    background-color: #ffffff;
    padding: 2rem;
    font-size:14px;
    line-height: 18px;
    margin-right:10%;
   
    }
    h2 {
        font-size:12.5px;
        text-transform:uppercase;
        
    }

    .box-widget :first-child {
        padding-top:1rem;
    }

    .box-widget {
        padding-top:2.5rem;
    }
    ul {
        margin-left:-2rem;
        list-style-type: none;
    }

    
</style>