---
import { getCollection } from 'astro:content'


const pageTitle = 'Tag Index'

const allPosts = await getCollection('blog')
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
---


  <div class='tags'>
    {
      tags.map((tag) => (
        <p class='tag'>
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>


<style>
  a {
    color:#ea181f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.20em;
    font-size: 18px;
    line-height:0.80em;
    text-transform: capitalize;
    hyphens:none;
  }

  .tag a {
    text-decoration:none;
  }

  .tag:nth-child(2n) {
    font-size:21px;
  }
  .tag:nth-child(4n) {
    font-size:13px;
  }
  .tag:nth-child(5n){
    font-size:23px;
  }
  .tag:nth-child(6n){
    font-size:29px;
  }
</style>