---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Sidebar from "../components/Sidebar.astro";


const { title,heroImage } = Astro.props;
---

<style>
  main {
    min-width: 700px;
    background-color: #ffffff;
    margin-left: 21%;
    margin-right:0;
    padding: 1rem 2rem;
    background: #fff;
    height: 100%;
  }

  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
  .title {
    margin-bottom: 1em;
    padding: 2em 0;
    text-align: left;
    line-height: 1;
    font-family: "Noto Serif Georgian Variable", serif;
  }

  .title h1 {
    margin: 0 0 0.5em 0;
    font-family: "Warsaw Gothic";
    font-size: 3rem;
    text-transform: uppercase;
  }
  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }

  .hero-image img {
    float: right;
  }

  img [alt="archive file with hearts"] {
    float: right !important;
  }
</style>

<BaseLayout>
  <Sidebar />

  <main>
   <Hero title={title}/>
    <article>
      <div class="hero-image">
        {(<heroImage src={heroImage} />)}
      </div>

      <slot />
    </article>
  </main>
</BaseLayout>
