---
import BaseLayout from './BaseLayout.astro'
import Sidebar from '../components/Sidebar.astro'
import Hero from '../components/Hero.astro'
import FormattedDate from "../components/FormattedDate.astro";

const { frontmatter } = Astro.props
---
<style>
main {
		max-width:700px;
		background-color: #ffffff;
		margin-left:10%;
		padding:1rem 2rem;
		background:#fff;
		height:100%;
		oveflow:none;
	}


  .title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: left;
				line-height: 1;
				font-family: 'Noto Serif Georgian Variable', serif;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
				font-family: 'Warsaw Gothic';
				font-size: 3rem;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

					.hero-image img {
				float:right;
			}

			img [alt="archive file with hearts"] {
				float:right!important;

			}
</style>
<BaseLayout>
  <Sidebar/>
  
  <main>
<Hero title="{title}"/>
  <slot />
  <div class="details-panel">
  <p>
  <span id="details"><FormattedDate date={frontmatter.pubDate} />|</span>
  <span id="details">{frontmatter.author}</span> |
  <span id="details">Comments</span>
  </p>
  </div>
 
  <hr>
  <h2>About the Author</h2>
  <div class="author-panel">
    <img/> <h3>{frontmatter.author}</h3>
  </div>
  <hr>
  <p id="comments">Comments</p>
  <hr>
</main>
</BaseLayout>

<style>
  #details a{
    color: #fff;
    text-decoration:none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
  .details-panel{
    background-color:#000;
    color:#fff;
    margin-top:2.5rem;
    padding:0 0.5rem;
  }

  #details {
    font-size:14px;
    padding: 0 0.25em;
  }
  #comments {
    font-size:14px;
  }

  h2 {
    font-size:22px;
    font-family: 'Warsaw Gothic';
    text-transform: uppercase;
  }
  h3 {
    font-size:16px;
    font-weight:400;
    font-style:italic;
  }

  .author-panel {
    padding-bottom:2em;
  }
</style>